<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.CompanyMapper">
  <!-- 거래처 조회 -->
  <select id="getCompanyList" resultType="com.cnr_furniture.domain.CompanyVO">
    SELECT  C_ID,
            C_NAME,
            C_EMAIL,
            C_DIV,
            C_ADDRESS,
            C_PH
    FROM    COMPANY
    WHERE   1 = 1
    <!--  거래처유형 검색  -->
    <if test="find_c_div != null and find_c_div != ''">
      AND C_DIV like '%' || #{find_c_div} || '%'
    </if>
    <!--  거래처명 검색  -->
    <if test="find_c_name != null and find_c_name != ''">
      AND C_NAME like '%' || #{find_c_name} || '%'
    </if>
    ORDER BY C_ID
  </select>
  <!-- 거래처명 리스트 -->
  <select id="CompanyNameList" resultType="com.cnr_furniture.domain.CompanyVO">
    SELECT  C_ID,
            C_NAME
    FROM    COMPANY
    ORDER BY C_ID
  </select>
</mapper>