<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.MachineInfoMapper">
    <!--설비 정보 리스트-->
    <select id="getMachineList" parameterType="String" resultType="com.cnr_furniture.domain.Machine.MachineVO">
        SELECT ROWNUM, MI.*
        FROM  (SELECT mi_id, mi_name, mi_position, mi_type
                FROM MACHINE_INFO
                order by mi_id) MI
        where 1=1
            <if test="find_machine_name != null and find_machine_name != ''">
                AND mi_name Like '%' || #{find_machine_name} || '%'
            </if>
            <if test="find_machine_type != null and find_machine_type != ''">
                AND mi_type Like '%' || #{find_machine_type} || '%'
            </if>
            <if test="find_machine_position != null and find_machine_position != ''">
                AND mi_position Like '%' || #{find_machine_position} || '%'
            </if>
    </select>

    <!-- 설비 등록 -->
    <insert id="addMachine">
        insert into MACHINE_INFO (MI_ID, MI_NAME, MI_TYPE)
        values (MACHINE_INFO_SEQ.NEXTVAL, #{modalAddName}, #{modalAddType})
    </insert>

    <!-- 설비 등록(작동 테이블) -->
    <insert id="addMachine2">
        INSERT INTO MACHINE_WORK (MW_MI_ID)
        SELECT MI_ID FROM MACHINE_INFO ORDER BY MI_ID DESC FETCH FIRST 1 ROW ONLY
    </insert>

    <!-- 마지막 설비 하나만 보여주기 -->
    <select id="getMachineOne" parameterType="String" resultType="com.cnr_furniture.domain.Machine.MachineVO">
        SELECT ROWNUM, mi_id, mi_name, mi_position, mi_type
        FROM  (Select
                    mi_id, mi_name, mi_position, mi_type
                from
                    MACHINE_INFO
                ORDER BY mi_id
                    DESC FETCH FIRST 1 ROW ONLY) MI
    </select>

    <!-- 설비 위치 업데이트 -->
    <update id="updateMachinePosition">
        update
            MACHINE_INFO
        set
            mi_position = #{modalUpdatePosition}
        where
            mi_id = #{modalUpdateNumber}
    </update>

    <!-- 설비 가동 현황 리스트 -->
    <select id="mcWorkList" parameterType="String" resultType="com.cnr_furniture.domain.Machine.MachineWorkVO">
        SELECT
            ROWNUM,
            mw.*
        FROM (
            SELECT
                MW.MW_MI_ID,
                MI.MI_NAME,
                MI.MI_TYPE,
                PI.PI_SEQ,
                MI.MI_POSITION,
                WT.W_START_TIME,
                WT.W_END_TIME,
                MW.MW_STATUS
            FROM
                MACHINE_WORK MW
            JOIN
                MACHINE_INFO MI ON MW.MW_MI_ID = MI.MI_ID
            LEFT JOIN
                PROCESS_INFO PI ON MW.MW_MI_ID = PI.PI_MACHINE_ID
            LEFT JOIN (
                SELECT
                    W.W_PI_ID,
                    W.W_START_TIME,
                    W.W_END_TIME
                FROM
                    WORK W
                JOIN
                    PROCESS_INFO PI ON W.W_PI_ID = PI.PI_ID
                ) WT ON PI.PI_ID = WT.W_PI_ID
            ORDER BY
                MW.MW_MI_ID
        ) mw
        where 1=1
        <if test="find_machine_name != null and find_machine_name != ''">
            AND mi_name Like '%' || #{find_machine_name} || '%'
        </if>
        <if test="find_machine_type != null and find_machine_type != ''">
            AND mi_type Like '%' || #{find_machine_type} || '%'
        </if>
        <if test="find_machine_status != null and find_machine_status != ''">
            AND mw_status Like '%' || #{find_machine_status} || '%'
        </if>
    </select>
</mapper>