<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.MaterialInfoMapper">

    <!--자재 조회 및 검색-->
    <select id="getMaterialInfo" resultType="com.cnr_furniture.domain.MaterialInfo.MaterialInfoVO">
        SELECT ROWNUM rn, M_ID, M_NAME, M_USES
        FROM MATERIAL
        WHERE 1=1
        <foreach item="type" collection="typeArr">
            <if test="type == 'MNum'.toString()">
                and  M_ID like '%' || #{keyword} || '%'
            </if>
            <if test="type == 'MName'.toString()">
                and M_NAME like '%' || #{keyword} || '%'
            </if>
            <if test="type == 'MUses'.toString()">
                and M_USES like '%' || #{keyword} || '%'
            </if>
        </foreach>
        ORDER BY M_ID ASC
    </select>

    <!--자재 등록-->
    <insert id="addMaterial">
        INSERT INTO MATERIAL
        (M_ID, M_NAME, M_USES)
        VALUES
        (MATERIAL_SEQ.nextval, #{m_name}, #{m_uses})
    </insert>

    <!--수정할 자재 가져오기-->
    <select id="getOneMaterial" resultType="com.cnr_furniture.domain.MaterialInfo.MaterialInfoVO">
        SELECT * FROM MATERIAL WHERE M_ID = #{m_id}
    </select>

    <!--자재 수정-->
    <update id="modifyMaterial">
        UPDATE MATERIAL SET
        M_NAME = #{m_name}
        , M_USES = #{m_uses}
        WHERE M_ID = #{m_id}
    </update>


</mapper>