<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.MemberMapper">

  <resultMap type="com.cnr_furniture.domain.member.MemberVO" id="mapping_memberVO">
    <result property="id" column="E_ID"/>
    <result property="name" column="E_NAME"/>
    <result property="email" column="E_EMAIL"/>
    <result property="ph" column="E_PH"/>
    <result property="password" column="E_PWD"/>
    <result property="dp_name" column="E_DP_NAME"/>
    <result property="role" column="E_ROLE"/>
    <result property="role_kr" column="e_role_kr"/>
  </resultMap>

  <!-- 사원정보 조회 -->
  <select id="selectByMember" resultType="com.cnr_furniture.domain.member.MemberVO" resultMap="mapping_memberVO">
    SELECT  E_ID,
            E_NAME,
            E_EMAIL,
            E_PH,
            E_PWD,
            E_DP_NAME,
            E_ROLE
    FROM    EMPLOYEE
    WHERE   E_EMAIL = #{email}
  </select>

  <!-- 사용자별 권한관리 - 직원목록 조회 -->
  <select id="employeeList" resultType="com.cnr_furniture.domain.member.MemberVO" resultMap="mapping_memberVO">
    SELECT  E_ID,
            E_NAME,
            E_EMAIL,
            E_PH,
            E_PWD,
            E_DP_NAME,
            E_ROLE,
      CASE
          WHEN e_role = 'ROLE_Director' THEN '디렉터'
          WHEN e_role = 'ROLE_Manager' THEN '매니저'
          WHEN e_role = 'ROLE_Staff' THEN '사원'
          ELSE e_role
      END AS e_role_kr
    FROM    EMPLOYEE
    <!-- 권한 선택이 되어 있지 않은 경우 -->
    <if test="find_Role == null or find_Role == ''">
      WHERE 1=2
    </if>
    <!--  권한 검색을 했을경우  -->
    <if test="find_Role != null and find_Role != ''">
      WHERE E_ROLE = #{find_Role}
      <!--  부서명 검색  -->
      <if test="find_DP_name != null and find_DP_name != ''">
        AND E_DP_NAME Like '%' || #{find_DP_name} || '%'
      </if>
      <!--  사원명 검색  -->
      <if test="find_emp_name != null and find_emp_name != ''">
        AND E_NAME Like '%' || #{find_emp_name} || '%'
      </if>
    </if>
    ORDER BY E_ID
  </select>

  <!-- 사원리스트 조회 -->
  <select id="staffList" resultType="com.cnr_furniture.domain.member.MemberVO" resultMap="mapping_memberVO">
    SELECT  E_ID,
            E_NAME,
            E_EMAIL,
            E_PH,
            E_PWD,
            E_DP_NAME,
            E_ROLE
    FROM    EMPLOYEE
    WHERE   E_ROLE = 'ROLE_Staff'
    <!--  부서명 검색  -->
    <if test="find_DP_name != null and find_DP_name != ''">
      AND E_DP_NAME Like '%' || #{find_DP_name} || '%'
    </if>
    <!--  사원명 검색  -->
    <if test="find_emp_name != null and find_emp_name != ''">
      AND E_NAME Like '%' || #{find_emp_name} || '%'
    </if>
    ORDER BY E_ID
  </select>
  <!-- 매니저리스트 조회 -->
  <select id="managerList" resultType="com.cnr_furniture.domain.member.MemberVO" resultMap="mapping_memberVO">
    SELECT  E_ID,
            E_NAME,
            E_EMAIL,
            E_PH,
            E_PWD,
            E_DP_NAME,
            E_ROLE
    FROM    EMPLOYEE
    WHERE   E_ROLE = 'ROLE_Manager'
    <!--  부서명 검색  -->
    <if test="find_DP_name != null and find_DP_name != ''">
      AND E_DP_NAME Like '%' || #{find_DP_name} || '%'
    </if>
    <!--  사원명 검색  -->
    <if test="find_emp_name != null and find_emp_name != ''">
      AND E_NAME Like '%' || #{find_emp_name} || '%'
    </if>
    ORDER BY E_ID
  </select>
  <!-- 디렉터리스트 조회 -->
  <select id="directorList" resultType="com.cnr_furniture.domain.member.MemberVO" resultMap="mapping_memberVO">
    SELECT  E_ID,
            E_NAME,
            E_EMAIL,
            E_PH,
            E_PWD,
            E_DP_NAME,
            E_ROLE
    FROM    EMPLOYEE
    WHERE   E_ROLE = 'ROLE_Director'
    <!--  부서명 검색  -->
    <if test="find_DP_name != null and find_DP_name != ''">
      AND E_DP_NAME Like '%' || #{find_DP_name} || '%'
    </if>
    <!--  사원명 검색  -->
    <if test="find_emp_name != null and find_emp_name != ''">
      AND E_NAME Like '%' || #{find_emp_name} || '%'
    </if>
    ORDER BY E_ID
  </select>

  <!-- 권한 조회  -->
  <select id="roleList" resultType="com.cnr_furniture.domain.member.MemberVO" resultMap="mapping_memberVO">
    SELECT E_ROLE,
      CASE
        WHEN e_role = 'ROLE_Director' THEN '디렉터'
        WHEN e_role = 'ROLE_Manager' THEN '매니저'
        WHEN e_role = 'ROLE_Staff' THEN '사원'
        ELSE e_role
      END AS e_role_kr
    FROM EMPLOYEE
    GROUP BY E_ROLE
    ORDER BY E_ROLE
  </select>
  <!-- 부서 조회  -->
  <select id="dpNameList" resultType="com.cnr_furniture.domain.member.MemberVO" resultMap="mapping_memberVO">
    SELECT E_DP_NAME
    FROM EMPLOYEE
    GROUP BY E_DP_NAME
    ORDER BY E_DP_NAME
  </select>

  <!-- 비밀번호 변경 -->
  <update id="passwordUpdate">
    UPDATE EMPLOYEE
    SET    E_PWD = #{password}
    WHERE  E_EMAIL = #{email}
  </update>

  <!-- 사원등록 -->
  <insert id="addStaff">
    INSERT INTO EMPLOYEE(E_NAME, E_EMAIL, E_PH, E_DP_NAME)
    VALUES (#{name}, #{email}, #{ph}, #{dp_name})
  </insert>

  <!-- 권한 변경 -->
  <update id="modifyRole">
    UPDATE EMPLOYEE
    <if test="role == 'ROLE_Staff'">
      SET    E_ROLE = 'ROLE_Manager'
    </if>
    <if test="role == 'ROLE_Manager'">
      SET    E_ROLE = 'ROLE_Director'
    </if>
    <if test="role == 'ROLE_Director'">
      SET    E_ROLE = 'ROLE_Director'
    </if>
    WHERE  E_ID = #{id}
  </update>
</mapper>