<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.ProcessMapper">

    <!-- 제조 지시======================================================================================-->
    <!-- 제조지시 목록 조회-->
    <select id="selectProcess" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT ROWNUM rn
                    , INS_LOT_ID
                    , INS_ITEM_ID
                    , INS_EMP_ID
                    , INS_CT_ID
                    , INS_PI_ID
                    , INS_LOT_SIZE
                    , TO_CHAR(INS_START_DATE, 'YYYY-MM-DD') AS INS_START_DATE
                    , TO_CHAR(INS_END_DATE, 'YYYY-MM-DD') AS INS_END_DATE
        FROM INSTRUCTION
        WHERE 1=1
                <if test="startDate != null and startDate !=''" >
                    AND INS_START_DATE >= #{startDate}
                </if>
                <if test="endDate != null and endDate !=''">
                    AND #{endDate} >=  INS_END_DATE
                </if>
                <if test="find_item_process != null and find_item_process !=''">
                    AND INS_ITEM_ID = #{find_item_process}
                </if>
                ORDER BY rn ASC
    </select>
    <!-- 제조지시 목록 조회: 제품-->
    <select id="selectAllItems" resultType="com.cnr_furniture.domain.process.ProcessItemVO">
        SELECT I_ID, I_NAME FROM ITEM
    </select>

    <!-- 제조지시 등록 -->
    <insert id="insertProInstruction">
        insert into INSTRUCTION (
                                  INS_LOT_ID
                                , INS_ITEM_ID
                                , INS_EMP_ID
                                , INS_CT_ID
                                , INS_PI_ID
                                , INS_LOT_SIZE
                                , INS_START_DATE
                                , INS_END_DATE
                                )
                                values (
                                  #{ins_lot_id}
                                , #{ins_item_id}
                                , #{ins_emp_id}
                                , #{ins_ct_id}
                                , #{ins_pi_id}
                                , #{ins_lot_size}
                                , #{ins_start_date}
                                , #{ins_end_date}
                                )
    </insert>

    <!-- 제조지시 등록 조회: 공정-->
    <select id="selectPi" resultType="com.cnr_furniture.domain.process.ProcessInfoVO">
        SELECT PI_ID,
               PI_NAME,
               PI_SEQ
        FROM PROCESS_INFO
    </select>
    <!-- 제조지시 등록 조회: 계약-->
    <select id="selectProCt" resultType="com.cnr_furniture.domain.process.ProcessCtVO">
        SELECT ROWNUM rn
                     ,CT_ID
                     ,CT_ITEM_ID
                     ,CT_QUANTITY
                     ,TO_CHAR(CT_DATE, 'YYYY-MM-DD') AS CT_DATE
                     ,TO_CHAR(CT_OB_DATE, 'YYYY-MM-DD') AS CT_OB_DATE
        FROM CONTRACT
        WHERE CT_DIV='수주'
                    <if test="ctStartDate != null and ctEndDate !=''" >
                        AND CT_DATE BETWEEN #{ctStartDate} AND #{ctEndDate}
                    </if>
        ORDER BY rn ASC
    </select>




    <!--제조 수행 지시 ======================================================================================-->
    <!--제조수행지시 목록조회: 제조 로트번호 입력창-->
    <select id="selectProcessRun" resultType="com.cnr_furniture.domain.process.ProcessRunVO">
        SELECT DISTINCT
            P_LOT_ID
        FROM
            PROCESS
        WHERE 1=1
            <if test="pLotId != null and pLotId  !=''">
                AND P_LOT_ID = #{pLotId}
            </if>
        ORDER BY
            P_LOT_ID ASC
    </select>

    <!--제조수행지시 목록조회: 제조 공정번호 입력창-->
    <select id="selectProcessRun2" resultType="com.cnr_furniture.domain.process.ProcessRunVO">
        SELECT DISTINCT
             P_PI_ID
        FROM
             PROCESS
        WHERE 1=1
            <if test="pPiId != null and pPiId  !=''">
                AND P_PI_ID = #{pPiId}
            </if>
        ORDER BY
             P_PI_ID ASC
    </select>


    <!-- 제조수행지시 목록 조회 및, 제조 로트번호, 공정번호, 날짜에 따른 결과 검색-->
    <select id="selectProcessRun1" resultType="com.cnr_furniture.domain.process.ProcessRunVO">
        SELECT
                ROWNUM AS rn,
                P_LOT_ID,
                P_PI_ID,
                P_B_ITEM_ID,
                P_PLAN_QUANTITY,
                P_ITEM_QUANTITY,
                P_DEFECTIVE_QUANTITY,
                TO_CHAR(P_START_DATE, 'YYYY-MM-DD') AS P_START_DATE,
                P_END_DATE,
                P_STATUS,
                P_NOTE
        FROM PROCESS
        WHERE 1=1
                <if test="startDate != null and startDate !=''">
                    AND P_START_DATE >= #{startDate}
                </if>
                <if test="endDate != null and endDate !=''">
                    AND #{endDate} >= P_START_DATE
                </if>
                <if test="pPiId != null and pPiId != ''">
                    AND P_PI_ID = #{pPiId}
                </if>
                <if test="pLotId != null and pLotId != ''">
                    AND P_LOT_ID = #{pLotId}
                </if>
        ORDER BY rn ASC
    </select>


    <!-- 제조수행지시에서 별개의 제조지시번호 검색-->
    <select id="selectLotIdsByItemAndProcessId" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT DISTINCT
            ins.INS_LOT_ID AS ins_lot_id
        FROM
            INSTRUCTION ins
        ORDER BY
            INS_LOT_ID ASC
    </select>


    <!-- 제조수행지시에서 제조지시 검색 후 그 번호에 해당하는 제품 번호 목록 검색-->
    <select id="selectItemsByLotId" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT DISTINCT
             ins.INS_ITEM_ID AS ins_item_id
        FROM
             INSTRUCTION ins
        WHERE
            INS_LOT_ID = #{ins_lot_id}
        ORDER BY
            INS_ITEM_ID ASC
    </select>

    <!-- 제조수행지시에서 제조지시와 제품 번호에 해당하는 제조 공정 번호 리스트 조회-->
    <select id="selectProcessIdsByItemAndLotId" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT DISTINCT
            INS_PI_ID AS ins_pi_id
        FROM
            INSTRUCTION
        WHERE
            INS_LOT_ID = #{ins_lot_id}
        AND INS_ITEM_ID = #{ins_item_id}
        ORDER BY
            INS_PI_ID ASC
    </select>

    <!-- 제조지시 수행등록 -->
    <insert id="insertProcessDa">
        insert into PROCESS (
                              P_LOT_ID
                            , P_PI_ID
                            , P_B_ITEM_ID
                            , P_PLAN_QUANTITY
                            , P_NOTE
                            )
                            values (
                              #{p_lot_id}
                            , #{p_pi_id}
                            , #{p_b_item_id}
                            , #{p_plan_quantity}
                            , #{p_note}
                            )
    </insert>




    <!--공정정보관리 ======================================================================================-->
    <!--공정정보등록창: 설비 목록 조회(위치가 null 인것만 조회 할것)-->
    <select id="selectM" resultType="com.cnr_furniture.domain.process.ManagementVO">
        SELECT
              MI_ID AS "miId"
            , MI_NAME AS "miName"
            , MI_TYPE AS "miType"
        FROM
            MACHINE_INFO
        WHERE
            MI_POSITION IS NULL
    </select>

    <!--공정정보등록창: 공정 목록 조회-->
    <select id="selectByList" resultType="com.cnr_furniture.domain.process.ProcessInfoVO">
        SELECT ROWNUM rn
                    , PI_ID
                    , PI_MACHINE_ID
                    , PI_NAME
                    , PI_SEQ
        FROM PROCESS_INFO
        WHERE 1=1
                <if test="piId != null and piId  !=''">
                    AND PI_ID = #{piId}
                </if>
        ORDER BY
             rn ASC
    </select>

    <!--공정정보등록창: 공정 목록 조회-->
    <select id="selectByListSearch" resultType="com.cnr_furniture.domain.process.ProcessInfoVO">
        SELECT
              PI_ID
            , PI_NAME
        FROM PROCESS_INFO
        ORDER BY
            PI_ID ASC
    </select>




    <!--공정정보등록창: 설비 목록 조회(ajax 검색을 위한 쿼리)-->
    <select id="selectByMiId" resultType="com.cnr_furniture.domain.process.ManagementVO">
        SELECT
            MI_ID AS miId,
            MI_NAME AS miName,
            MI_TYPE AS miType
        FROM MACHINE_INFO
        WHERE MI_ID = #{miId}
    </select>

    <!--공정정보등록창: 설비 등록을 위한 쿼리-->
    <insert id="insertAddProcess">
        INSERT INTO PROCESS_INFO (
                              PI_ID
                            , PI_MACHINE_ID
                            , PI_NAME
                            , PI_SEQ
                    ) VALUES(
                              #{pi_id}
                            , #{pi_machine_id}
                            , #{pi_name}
                            , #{pi_seq}
                            )
    </insert>






</mapper>
