<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.ProcessMapper">
    <!-- 제조지시 목록 조회-->
    <select id="selectProcess" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT ROWNUM rn
                    , INS_LOT_ID
                    , INS_ITEM_ID
                    , INS_EMP_ID
                    , INS_CT_ID
                    , INS_PI_ID
                    , INS_LOT_SIZE
                    , TO_CHAR(INS_START_DATE, 'YYYY-MM-DD') AS INS_START_DATE
                    , TO_CHAR(INS_END_DATE, 'YYYY-MM-DD') AS INS_END_DATE
        FROM INSTRUCTION
        WHERE 1=1
                <if test="startDate != null and startDate !=''" >
                    AND INS_START_DATE >= #{startDate}
                </if>
                <if test="endDate != null and endDate !=''">
                    AND #{endDate} >=  INS_END_DATE
                </if>
                <if test="find_item_process != null and find_item_process !=''">
                    AND INS_ITEM_ID = #{find_item_process}
                </if>
                ORDER BY rn ASC
    </select>
    <!-- 제조지시 목록 조회: 제품-->
    <select id="selectAllItems" resultType="com.cnr_furniture.domain.process.ProcessItemVO">
        SELECT I_ID, I_NAME FROM ITEM
    </select>

    <!-- 제조지시 등록 -->
    <insert id="insertProInstruction">
        insert into INSTRUCTION (
                                  INS_LOT_ID
                                , INS_ITEM_ID
                                , INS_EMP_ID
                                , INS_CT_ID
                                , INS_PI_ID
                                , INS_LOT_SIZE
                                , INS_START_DATE
                                , INS_END_DATE
                                )
                                values (
                                  #{ins_lot_id}
                                , #{ins_item_id}
                                , #{ins_emp_id}
                                , #{ins_ct_id}
                                , #{ins_pi_id}
                                , #{ins_lot_size}
                                , #{ins_start_date}
                                , #{ins_end_date}
                                )
    </insert>

    <!-- 제조지시 등록 조회: 공정-->
    <select id="selectPi" resultType="com.cnr_furniture.domain.process.ProcessInfoVO">
        SELECT PI_ID,
               PI_NAME,
               PI_SEQ
        FROM PROCESS_INFO
    </select>
    <!-- 제조지시 등록 조회: 계약-->
    <select id="selectProCt" resultType="com.cnr_furniture.domain.process.ProcessCtVO">
        SELECT ROWNUM rn
                     ,CT_ID
                     ,CT_ITEM_ID
                     ,CT_QUANTITY
                     ,TO_CHAR(CT_DATE, 'YYYY-MM-DD') AS CT_DATE
                     ,TO_CHAR(CT_OB_DATE, 'YYYY-MM-DD') AS CT_OB_DATE
        FROM CONTRACT
        WHERE 1=1
                    <if test="ctStartDate != null and ctEndDate !=''" >
                        AND CT_DATE BETWEEN #{ctStartDate} AND #{ctEndDate}
                    </if>
        ORDER BY rn ASC
    </select>

    <!-- 제조수행지시 목록-->
    <select id="selectProcessRun" resultType="com.cnr_furniture.domain.process.ProcessRunVO">
        SELECT ROWNUM AS rn
        , A.P_LOT_ID
        , A.P_PI_ID
        , TO_CHAR(A.P_START_DATE, 'YYYY-MM-DD') AS P_START_DATE
        , TO_CHAR(A.P_END_DATE, 'YYYY-MM-DD') AS P_END_DATE
        FROM (
        SELECT DISTINCT P_LOT_ID
        , FIRST_VALUE(P_PI_ID) OVER (PARTITION BY P_LOT_ID ORDER BY P_START_DATE DESC) AS P_PI_ID
        , FIRST_VALUE(P_START_DATE) OVER (PARTITION BY P_LOT_ID ORDER BY P_START_DATE DESC) AS P_START_DATE
        , FIRST_VALUE(P_END_DATE) OVER (PARTITION BY P_LOT_ID ORDER BY P_START_DATE DESC) AS P_END_DATE
        FROM PROCESS
        WHERE 1=1
                <if test="startDate != null and startDate !=''">
                    AND P_START_DATE >= #{startDate}
                </if>
                <if test="endDate != null and endDate !=''">
                    AND #{endDate} >= P_END_DATE
                </if>
                ) A
        ORDER BY rn ASC
    </select>

    <select id="selectProcessRun1" resultType="com.cnr_furniture.domain.process.ProcessRunVO">
        SELECT ROWNUM rn
        , P_LOT_ID
        , P_PI_ID
        , P_B_ITEM_ID
        , P_PLAN_QUANTITY
        , P_ITEM_QUANTITY
        , P_DEFECTIVE_QUANTITY
        , TO_CHAR(P_START_DATE, 'YYYY-MM-DD') AS P_START_DATE
        , TO_CHAR(P_END_DATE, 'YYYY-MM-DD') AS P_END_DATE
        FROM PROCESS
        WHERE 1=1
        ORDER BY rn ASC
    </select>





    <!-- 제조수행지시에서 제조지시 검색-->
    <select id="selectLotIdsByItemAndProcessId" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT DISTINCT
            ins.INS_LOT_ID AS ins_lot_id
        FROM
            INSTRUCTION ins
        ORDER BY
            INS_LOT_ID ASC
    </select>



    <select id="selectItemsByLotId" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT DISTINCT
             ins.INS_ITEM_ID AS ins_item_id
        FROM
             INSTRUCTION ins
        WHERE
            INS_LOT_ID = #{ins_lot_id}
        ORDER BY
            INS_ITEM_ID ASC
    </select>

    <select id="selectProcessIdsByItemAndLotId" resultType="com.cnr_furniture.domain.process.ProcessVO">
        SELECT DISTINCT
            INS_PI_ID AS ins_pi_id
        FROM
            INSTRUCTION
        WHERE
            INS_LOT_ID = #{ins_lot_id}
        AND INS_ITEM_ID = #{ins_item_id}
        ORDER BY
            INS_PI_ID ASC
    </select>

    <!-- 제조지시 수행등록 -->
    <insert id="insertProcessDa">
        insert into PROCESS (
                              P_LOT_ID
                            , P_PI_ID
                            , P_B_ITEM_ID
                            , P_PLAN_QUANTITY
                            , P_NOTE
                            )
                            values (
                              #{p_lot_id}
                            , #{p_pi_id}
                            , #{p_b_item_id}
                            , #{p_plan_quantity}
                            , #{p_note}
                            )
    </insert>


</mapper>
