<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.WorkMapper">
    <!-- [회사 정보] 조회 -->
    <select id="workSelectCompanyList" resultType="com.cnr_furniture.domain.work.search.WorkSelectCompanyVO">
        SELECT
            c_id as companyId, c_name as companyName, c_div as companyDiv
        FROM
            COMPANY
    </select>

    <!-- [제품 정보] 조회 -->
    <select id="workSelectItemList" resultType="com.cnr_furniture.domain.work.search.WorkSelectItemVO">
        SELECT
            i_id as itemId, i_name as itemName, i_uses as itemUses
        FROM
            ITEM
    </select>

    <!-- [계획 정보] 조회 -->
    <select id="workSelectInstructionList" resultType="com.cnr_furniture.domain.work.search.WorkSelectInstructionVO">
        SELECT
            DISTINCT INS_LOT_ID as insLotId,
            INS_ITEM_ID as insItemId,
            INS_EMP_ID as insEmpId,
            INS_CT_ID as insCtId,
            INS_LOT_SIZE as insLotSize,
            INS_START_DATE as insStartDate,
            INS_END_DATE as insEndDate
        FROM
            INSTRUCTION
        ORDER BY
            insLotId, insCtId
    </select>

    <!-- [공정정보] 조회 -->
    <select id="workSelectProcessInfoList" resultType="com.cnr_furniture.domain.work.search.WorkSelectProcessInfoVO">
        SELECT
            pi.PI_ID AS pi_id, pi.PI_NAME AS PI_NAME, pi.PI_MACHINE_ID AS PI_MACHINE_ID,
            mi.MI_NAME AS MI_NAME, pi.PI_SEQ || '-' || mi.MI_POSITION AS position
        FROM
            PROCESS_INFO pi, MACHINE_INFO mi
        WHERE
            pi.PI_MACHINE_ID = mi.MI_ID
        ORDER BY PI_ID, position
    </select>

    <!-- [공정별 제조수행정보] 조회-->
    <select id="selectWorkProcessInfo" resultType="com.cnr_furniture.domain.work.workMNG.WorkProcessInfoVO">
        SELECT
            ROWNUM AS RN,
            PICTC.P_LOT_ID AS P_LOT_ID,
            PICTC.INS_LOT_ID AS INS_LOT_ID,
            PICTC.P_PI_ID AS P_PI_ID,
            PICTC.PI_NAME AS PI_NAME,
            PICTC.P_B_ITEM_ID AS P_B_ITEM_ID,
            PICTC.I_NAME AS I_NAME,
            PICTC.C_ID AS C_ID,
            PICTC.C_NAME AS C_NAME,
            PICTC.P_START_DATE AS P_START_DATE,
            PICTC.P_END_DATE AS P_END_DATE,
            PICTC.P_STATUS AS P_STATUS,
            PICTC.P_PLAN_QUANTITY AS P_PLAN_QUANTITY,
            PICTC.P_ITEM_QUANTITY AS P_ITEM_QUANTITY,
            PICTC.P_DEFECTIVE_QUANTITY AS P_DEFECTIVE_QUANTITY,
            PICTC.CT_UNIT AS CT_UNIT
        FROM
            (SELECT
                    DISTINCT pr.P_PI_ID,
                    pr.P_LOT_ID,
                    ins.INS_LOT_ID,
                    pr.P_B_ITEM_ID,
                    pi.PI_NAME,
                    it.I_NAME,
                    co.C_ID,
                    co.C_NAME,
                    TO_CHAR(pr.P_START_DATE, 'YYYY-MM-DD') AS P_START_DATE,
                    TO_CHAR(pr.P_END_DATE, 'YYYY-MM-DD') AS P_END_DATE,
                    pr.P_STATUS,
                    pr.P_PLAN_QUANTITY,
                    pr.P_ITEM_QUANTITY,
                    pr.P_DEFECTIVE_QUANTITY,
                    UPPER(ct.CT_UNIT) AS CT_UNIT
                FROM
                    PROCESS pr
                    JOIN PROCESS_INFO pi ON pr.P_PI_ID = pi.PI_ID
                    JOIN INSTRUCTION ins ON pr.P_LOT_ID = ins.INS_LOT_ID
                    JOIN CONTRACT ct ON ins.INS_CT_ID = ct.CT_ID
                    JOIN COMPANY co ON ct.CT_Company_ID = co.C_ID
                    JOIN ITEM it ON pr.P_B_ITEM_ID = it.I_ID
                ORDER BY
                    P_START_DATE desc, pr.P_LOT_ID, pr.P_PI_ID*1, pr.P_B_ITEM_ID) PICTC
        <trim prefix="where " prefixOverrides="and">
            <if test="find_work_company != null or find_work_item != null or
                     workStartDate != null or workEndDate != null or
                     find_work_instruction != null or find_work_processInfo != null">
                <if test="find_work_company != ''">
                    AND C_ID = #{find_work_company}
                </if>
                <if test="find_work_item != ''">
                    AND P_B_ITEM_ID = #{find_work_item}
                </if>
                <if test="workStartDate != ''">
                    AND P_START_DATE >= #{workStartDate}
                </if>
                <if test="workEndDate != ''">
                    AND #{workEndDate} >=  P_END_DATE
                </if>
                <if test="find_work_instruction != ''">
                    AND INS_LOT_ID = #{find_work_instruction}
                </if>
                <if test="find_work_processInfo != ''">
                    AND P_PI_ID = #{find_work_processInfo}
                </if>
                <if test="find_work_company == '' and find_work_item == '' and
                     workStartDate == '' and workEndDate == '' and
                     find_work_instruction == '' and find_work_processInfo == '' ">
                    AND 1=0
                </if>
            </if>
        </trim>
    </select>
    <!-- work의 [작업목록] 조회 -->
    <select id="selectWork" resultType="com.cnr_furniture.domain.work.workMNG.WorkVO">
        SELECT
            ROWNUM AS rn,
            WORK.W_ID ,
            WORK.W_LOT_ID ,
            WORK.W_DATE,
            WORK.E_DP_NAME,
            WORK.W_PI_ID,
            WORK.PI_NAME,
            WORK.MI_NAME,
            WORK.POSITION,
            WORK.INS_ITEM_ID,
            WORK.I_NAME,
            WORK.W_STATUS,
            WORK.I_STANDARD,
            WORK.CT_UNIT,
            WORK.W_TIME,
            WORK.W_PLAN_QUANTITY,
            WORK.W_ITEM_QUANTITY
        FROM
            (SELECT
                DISTINCT w.W_ID AS W_ID,
                w.W_LOT_ID AS W_LOT_ID,
                TO_CHAR(w.W_START_TIME, 'YYYY-MM-DD') AS W_DATE,
                e.E_DP_NAME,
                w.W_PI_ID,
                pi.PI_NAME,
                mi.MI_NAME,
                pi.PI_SEQ || '-' || mi.MI_POSITION AS POSITION,
                ins.INS_ITEM_ID,
                it.I_NAME,
                w.W_STATUS,
                it.I_STANDARD,
                UPPER(ct.CT_UNIT) AS CT_UNIT,
                w.W_TIME,
                w.W_PLAN_QUANTITY,
                w.W_ITEM_QUANTITY
            FROM
                WORK w
                JOIN WORKER wr ON w.W_ID = wr.WR_WORK_ID
                JOIN PROCESS pr ON w.W_LOT_ID = pr.P_LOT_ID
                JOIN PROCESS_INFO pi ON w.W_PI_ID = pi.PI_ID
                JOIN MACHINE_INFO mi ON pi.PI_MACHINE_ID = mi.mi_id
                JOIN INSTRUCTION ins ON w.W_LOT_ID = ins.INS_LOT_ID
                JOIN CONTRACT ct ON ins.INS_CT_ID = ct.CT_ID
                JOIN ITEM it ON pr.P_B_ITEM_ID = it.I_ID
                JOIN EMPLOYEE e ON wr.WR_EMP_ID = e.E_ID
            ORDER BY W_DATE) WORK
        <trim prefix="where " prefixOverrides="and">
            <if test="find_work_item != null or
                     workStartDate != null or workEndDate != null or
                     find_work_instruction != null or find_work_processInfo != null or
                     find_work_id != null">
                <if test="find_work_item != ''">
                    AND INS_ITEM_ID = #{find_work_item}
                </if>
                <if test="workStartDate != ''">
                    AND W_DATE >= #{workStartDate}
                </if>
                <if test="workEndDate != ''">
                    AND #{workEndDate} >=  W_DATE
                </if>
                <if test="find_work_instruction != ''">
                    AND W_LOT_ID = #{find_work_instruction}
                </if>
                <if test="find_work_processInfo != ''">
                    AND W_PI_ID = #{find_work_processInfo}
                </if>
                <if test="find_work_id != ''">
                    AND W_ID = #{find_work_id}
                </if>
                <if test="find_work_item == '' and
                     workStartDate == '' and workEndDate == '' and
                     find_work_instruction == '' and find_work_processInfo == '' and
                     find_work_id == '' ">
                    AND 1=0
                </if>
            </if>
        </trim>
    </select>

    <!-- work 자재투입 모달창의 [로트번호의 공정번호] 조회-->
    <select id="workSelectInsProIdList" resultType="com.cnr_furniture.domain.work.search.WorkSelectInsProIdVO">
        SELECT
            ins.ins_lot_id, ins.ins_pi_id
        FROM
            INSTRUCTION ins
        WHERE
            ins.ins_lot_id = #{find_work_instruction}
        ORDER BY
            ins.ins_lot_id, ins.ins_pi_id*1
    </select>

    <!-- work 자재투입등록 모달창의 [로트번호] 입력에 따른 [제품번호],[제품명],[자재번호],[자재명],[투입단위] 조회 -->

    <!-- work의 [생산실적] 조회 (작업목록에서 작업자사원번호(작업자명), 불량수량 추가) -->
    <select id="selectWorkProductionPerformance" resultType="com.cnr_furniture.domain.work.workMNG.WorkVO">
        SELECT
            ROWNUM AS RN,
            WORK.W_ID,
            WORK.W_LOT_ID,
            WORK.W_DATE,
            WORK.E_DP_NAME,
            WORK.allEmpList as allEmpList,
            WORK.substrAllEmp as substrAllEmp,
            WORK.W_PI_ID,
            WORK.PI_NAME,
            WORK.MI_NAME,
            WORK.POSITION,
            WORK.INS_ITEM_ID,
            WORK.I_NAME,
            WORK.W_STATUS,
            WORK.I_STANDARD,
            WORK.CT_UNIT,
            WORK.W_TIME,
            WORK.W_PLAN_QUANTITY,
            WORK.W_ITEM_QUANTITY,
            WORK.w_dft_quantity
        FROM
            (SELECT
                DISTINCT w.W_ID AS W_ID,
                w.W_LOT_ID AS W_LOT_ID,
                TO_CHAR(w.W_START_TIME, 'YYYY-MM-DD') AS W_DATE,
                e.E_DP_NAME,
                LISTAGG(DISTINCT wr.WR_EMP_ID || '(' || e.E_NAME ||')', ', ' ON OVERFLOW TRUNCATE '...') WITHIN GROUP(ORDER BY wr.WR_EMP_ID) OVER(PARTITION BY e.E_DP_NAME, w.W_ID) AS allEmpList,
                Substr(LISTAGG(DISTINCT wr.WR_EMP_ID || '(' || e.E_NAME ||')', ', ' ON OVERFLOW TRUNCATE '...') WITHIN GROUP(ORDER BY wr.WR_EMP_ID) OVER(PARTITION BY e.E_DP_NAME, w.W_ID), 1, 40) || '...' AS substrallemp,
                w.W_PI_ID,
                pi.PI_NAME,
                mi.MI_NAME,
                pi.PI_SEQ || '-' || mi.MI_POSITION AS POSITION,
                ins.INS_ITEM_ID,
                it.I_NAME,
                w.W_STATUS,
                it.I_STANDARD,
                UPPER(ct.CT_UNIT) AS CT_UNIT,
                w.W_TIME,
                w.W_PLAN_QUANTITY,
                w.W_ITEM_QUANTITY,
                w.w_dft_quantity
            FROM
                WORK w
                JOIN WORKER wr ON w.W_ID = wr.WR_WORK_ID
                JOIN PROCESS pr ON w.W_LOT_ID = pr.P_LOT_ID
                JOIN PROCESS_INFO pi ON w.W_PI_ID = pi.PI_ID
                JOIN MACHINE_INFO mi ON pi.PI_MACHINE_ID = mi.mi_id
                JOIN INSTRUCTION ins ON w.W_LOT_ID = ins.INS_LOT_ID
                JOIN CONTRACT ct ON ins.INS_CT_ID = ct.CT_ID
                JOIN ITEM it ON pr.P_B_ITEM_ID = it.I_ID
                JOIN EMPLOYEE e ON wr.WR_EMP_ID = e.E_ID
            ORDER BY W_DATE) WORK
        <trim prefix="where " prefixOverrides="and">
            <if test="find_work_item != null or
                     workStartDate != null or workEndDate != null or
                     find_work_instruction != null or find_work_processInfo != null or
                      find_work_id != null">
                <if test="find_work_item != ''">
                    AND INS_ITEM_ID = #{find_work_item}
                </if>
                <if test="workStartDate != ''">
                    AND W_DATE >= #{workStartDate}
                </if>
                <if test="workEndDate != ''">
                    AND #{workEndDate} >=  W_DATE
                </if>
                <if test="find_work_instruction != ''">
                    AND W_LOT_ID = #{find_work_instruction}
                </if>
                <if test="find_work_processInfo != ''">
                    AND W_PI_ID = #{find_work_processInfo}
                </if>
                <if test="find_work_id != ''">
                    AND W_ID = #{find_work_id}
                </if>
                <if test="find_work_item == '' and
                     workStartDate == '' and workEndDate == '' and
                     find_work_instruction == '' and find_work_processInfo == '' and
                     find_work_id == '' ">
                    AND 1=0
                </if>
            </if>
        </trim>
    </select>
    <!-- work의 [자재투입내역]-->
    <select id="selectWorkInsertMaterial"
            resultType="com.cnr_furniture.domain.work.workMNG.WorkSelectInsertMaterialVO">
    <![CDATA[
        SELECT
            ROWNUM AS rn,
            mi.w_lot_id,
            mi.w_pi_id,
            mi.ins_item_id,
            mi.ct_company_id,
            mi.c_name,
            mi.inv_date,
            mi.b_material_id,
            mi.m_name,
            mi.b_unit,
            mi.inv_quantity
        FROM
            (SELECT
                DISTINCT w.W_LOT_ID,
                w.W_PI_ID,
                ins.INS_ITEM_ID ,
                it.i_name,
                ct.CT_Company_ID,
                c.c_name,
                to_char(inv.INV_DATE,'yyyy-mm-dd') AS inv_date,
                b.B_MATERIAL_ID,
                m.M_NAME,
                upper(b.B_UNIT) AS B_UNIT,
                substr(inv.INV_QUANTITY,2) AS INV_QUANTITY
            FROM
                WORK w
                JOIN PROCESS_INFO pi ON w.W_PI_ID = pi.PI_ID
                JOIN INSTRUCTION ins ON w.W_LOT_ID = ins.INS_LOT_ID
                JOIN CONTRACT ct ON ins.INS_CT_ID = ct.CT_ID
                JOIN COMPANY c ON ct.CT_Company_ID = c.C_ID
                JOIN ITEM it ON ins.INS_ITEM_ID = it.I_ID
                JOIN BOM b ON ins.ins_ITEM_ID = b.B_ITEM_ID
                JOIN MATERIAL m ON b.B_MATERIAL_ID = m.M_ID
                JOIN INVENTORY inv ON w.W_PI_ID = inv.INV_pi_ID
            WHERE inv.INV_LOT_ID IS NOT NULL
                AND inv.INV_PI_ID IS NOT NULL
                AND inv.INV_QUANTITY<0
            ORDER BY
                w.W_LOT_ID,w.W_PI_ID,b.B_MATERIAL_ID) mi
    ]]>
        <trim prefix="where " prefixOverrides="and">
            <if test="find_work_company != null or find_work_item != null or
                     workStartDate != null or workEndDate != null or
                     find_work_instruction != null or find_work_processInfo != null">
                <if test="find_work_company != ''">
                    AND C_ID = #{find_work_company}
                </if>
                <if test="find_work_item != ''">
                    AND INS_ITEM_ID = #{find_work_item}
                </if>
                <if test="workStartDate != ''">
                    <![CDATA[ AND inv_date >= #{workStartDate} ]]>
                </if>
                <if test="workEndDate != ''">
                    <![CDATA[ AND #{workEndDate} >=  inv_date ]]>
                </if>
                <if test="find_work_instruction != ''">
                    AND W_LOT_ID = #{find_work_instruction}
                </if>
                <if test="find_work_processInfo != ''">
                    AND W_PI_ID = #{find_work_processInfo}
                </if>
                <if test="find_work_company == '' and find_work_item == '' and
                     workStartDate == '' and workEndDate == '' and
                     find_work_instruction == '' and find_work_processInfo == '' ">
                    AND 1=0
                </if>
            </if>
        </trim>
    </select>
    <!-- work의 [작업자] 조회-->
    <select id="selectWorker" resultType="com.cnr_furniture.domain.work.workMNG.WorkerVO">
        SELECT
            ROWNUM AS rn,
            wr.e_dp_name,
            wr.e_name,
            wr.e_role,
            wr.wr_emp_id,
            wr.w_lot_id,
            wr.w_pi_id,
            wr.position,
            wr.wr_start_time,
            wr.wr_end_time
        FROM
            (SELECT
                e.E_DP_NAME,
                e.E_NAME ,
                e.E_ROLE,
                wr.WR_EMP_ID,
                w.W_LOT_ID,
                w.W_PI_ID,
                pi.PI_SEQ || '-' || mi.MI_POSITION AS POSITION,
                to_char(wr.WR_START_TIME,'yyyy-mm-dd HH24:mi:ss') AS WR_START_TIME,
                to_char(wr.WR_END_TIME,'yyyy-mm-dd HH24:mi:ss') AS WR_END_TIME
            FROM
                WORK w
                JOIN WORKER wr ON w.W_ID = wr.WR_WORK_ID
                JOIN EMPLOYEE e ON wr.WR_EMP_ID = e.E_ID
                JOIN PROCESS_INFO pi ON w.W_PI_ID = pi.PI_ID
                JOIN MACHINE_INFO mi ON pi.PI_MACHINE_ID = mi.mi_id
                ORDER BY e.E_DP_NAME,WR_START_TIME, wr.WR_EMP_ID, w.W_PI_ID) wr
        <trim prefix="where " prefixOverrides="and">
            <if test="workStartDate != null or workEndDate != null or
                     find_work_instruction != null or find_work_processInfo != null">
                <if test="workStartDate != ''">
                    AND wr_start_time >= #{workStartDate}
                </if>
                <if test="workEndDate != ''">
                    AND #{workEndDate} >= wr_end_time
                </if>
                <if test="find_work_instruction != ''">
                    AND W_LOT_ID = #{find_work_instruction}
                </if>
                <if test="find_work_processInfo != ''">
                    AND W_PI_ID = #{find_work_processInfo}
                </if>
                <if test="workStartDate == '' and workEndDate == '' and
                     find_work_instruction == '' and find_work_processInfo == '' ">
                    AND 1=0
                </if>
            </if>
        </trim>
    </select>
    <!-- todayWorkInsert 의 [공정별 설비상태]조회 -->
    <select id="selectWorkProcessMachine"
            resultType="com.cnr_furniture.domain.work.todayWorkInsert.WorkProcessMachineVO">
        SELECT
            ROWNUM AS rn,
            pimi.pi_id,
            pimi.pi_name,
            pimi.pi_machine_id,
            pimi.mi_name,
            pimi.position,
            pimi.mw_status,
            pimi.mw_condition
        FROM
            (SELECT
                pi.pi_id,
                pi.pi_name,
                pi.pi_machine_id,
                mi.mi_name,
                pi.PI_SEQ || '-' || mi.MI_POSITION AS POSITION,
                mw.MW_STATUS,
                mw.MW_CONDITION
            FROM
                process_info pi
                JOIN MACHINE_INFO mi ON pi.PI_MACHINE_ID = mi.mi_id
                JOIN MACHINE_WORK mw ON mw.MW_MI_ID = mi.mi_id
            ORDER BY pi.pi_id, pi.pi_machine_id) pimi
        <trim prefix="where " prefixOverrides="and">
            <if test="find_work_processInfo != null">
                <if test="find_work_processInfo != ''">
                    AND pi_id = #{find_work_processInfo}
                </if>
                <if test="find_work_processInfo == '' ">
                    AND 1=0
                </if>
            </if>
        </trim>
    </select>
    <!-- todayWorkInsert 의 [당일작업목록] 조회-->
    <select id="selectTodayWork" resultType="com.cnr_furniture.domain.work.todayWorkInsert.TodayWorkVO">
        SELECT
            ROWNUM AS rn,
            WORK.W_ID ,
            WORK.W_LOT_ID ,
            WORK.W_DATE,
            WORK.E_DP_NAME,
            WORK.W_PI_ID,
            WORK.PI_NAME,
            WORK.MI_NAME,
            WORK.POSITION,
            WORK.INS_ITEM_ID,
            WORK.I_NAME,
            WORK.W_STATUS,
            WORK.I_STANDARD,
            WORK.CT_UNIT,
            WORK.W_TIME,
            WORK.W_PLAN_QUANTITY,
            WORK.W_ITEM_QUANTITY
        FROM
            (SELECT
                DISTINCT w.W_ID AS W_ID,
                w.W_LOT_ID AS W_LOT_ID,
                TO_CHAR(w.W_START_TIME, 'YYYY-MM-DD') AS W_DATE,
                e.E_DP_NAME,
                w.W_PI_ID,
                pi.PI_NAME,
                mi.MI_NAME,
                pi.PI_SEQ || '-' || mi.MI_POSITION AS POSITION,
                ins.INS_ITEM_ID,
                it.I_NAME,
                w.W_STATUS,
                it.I_STANDARD,
                UPPER(ct.CT_UNIT) AS CT_UNIT,
                w.W_TIME,
                w.W_PLAN_QUANTITY,
                w.W_ITEM_QUANTITY
            FROM
                WORK w
                JOIN WORKER wr ON w.W_ID = wr.WR_WORK_ID
                JOIN PROCESS pr ON w.W_LOT_ID = pr.P_LOT_ID
                JOIN PROCESS_INFO pi ON w.W_PI_ID = pi.PI_ID
                JOIN MACHINE_INFO mi ON pi.PI_MACHINE_ID = mi.mi_id
                JOIN INSTRUCTION ins ON w.W_LOT_ID = ins.INS_LOT_ID
                JOIN CONTRACT ct ON ins.INS_CT_ID = ct.CT_ID
                JOIN ITEM it ON pr.P_B_ITEM_ID = it.I_ID
                JOIN EMPLOYEE e ON wr.WR_EMP_ID = e.E_ID
            ORDER BY W_DATE) WORK
        WHERE
            WORK.W_DATE = to_char( sysdate, 'YYYY-MM-DD')
            <if test="find_work_instruction != null or find_work_processInfo != null">
                <if test="find_work_instruction != ''">
                    AND W_LOT_ID = #{find_work_instruction}
                </if>
                <if test="find_work_processInfo != ''">
                    AND W_PI_ID = #{find_work_processInfo}
                </if>
                <if test="find_work_instruction == '' and find_work_processInfo == '' ">
                    AND 1=0
                </if>
            </if>
    </select>



</mapper>