<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.WorkMapper">
    <!-- 회사 정보 조회 -->
    <select id="workSelectCompanyList" resultType="com.cnr_furniture.domain.work.WorkSelectCompanyVO">
        SELECT
        c_id as companyId, c_name as companyName, c_div as companyDiv
        FROM
        COMPANY
    </select>

    <!-- 제품 정보 조회 -->
    <select id="workSelectItemList" resultType="com.cnr_furniture.domain.work.WorkSelectItemVO">
        SELECT
        i_id as itemId, i_name as itemName, i_uses as itemUses
        FROM
        ITEM
    </select>

    <!-- 계획 정보 조회 -->
    <select id="workSelectInstructionList" resultType="com.cnr_furniture.domain.work.WorkSelectInstructionVO">
        SELECT
        DISTINCT INS_LOT_ID as insLotId,
        INS_ITEM_ID as insItemId,
        INS_EMP_ID as insEmpId,
        INS_CT_ID as insCtId,
        INS_LOT_SIZE as insLotSize,
        INS_START_DATE as insStartDate,
        INS_END_DATE as insEndDate
        FROM
        INSTRUCTION
        ORDER BY
        insLotId, insCtId
    </select>

    <!-- 공정 정보 조회 -->
    <select id="workSelectProcessInfoList" resultType="com.cnr_furniture.domain.work.WorkSelectProcessInfoVO">
        SELECT
        pi.PI_ID AS pi_id, pi.PI_NAME AS PI_NAME, pi.PI_MACHINE_ID AS PI_MACHINE_ID,
        mi.MI_NAME AS MI_NAME, pi.PI_SEQ || '-' || mi.MI_POSITION AS position
        FROM
        PROCESS_INFO pi, MACHINE_INFO mi
        WHERE
        pi.PI_MACHINE_ID = mi.MI_ID
        ORDER BY PI_ID, position
    </select>

    <!-- 제조수행정보 조회-->
    <select id="selectWorkProcessInfo" resultType="com.cnr_furniture.domain.work.WorkProcessInfoVO">
        SELECT
            ROWNUM AS RN,
            PICTC.P_LOT_ID AS P_LOT_ID,
            PICTC.INS_LOT_ID AS INS_LOT_ID,
            PICTC.P_PI_ID AS P_PI_ID,
            PICTC.PI_NAME AS PI_NAME,
            PICTC.P_B_ITEM_ID AS P_B_ITEM_ID,
            PICTC.I_NAME AS I_NAME,
            PICTC.C_ID AS C_ID,
            PICTC.C_NAME AS C_NAME,
            PICTC.P_START_DATE AS P_START_DATE,
            PICTC.P_END_DATE AS P_END_DATE,
            PICTC.P_STATUS AS P_STATUS,
            PICTC.P_PLAN_QUANTITY AS P_PLAN_QUANTITY,
            PICTC.P_ITEM_QUANTITY AS P_ITEM_QUANTITY,
            PICTC.P_DEFECTIVE_QUANTITY AS P_DEFECTIVE_QUANTITY,
            PICTC.CT_UNIT AS CT_UNIT
        FROM
            (SELECT
                    DISTINCT pr.P_PI_ID,
                    pr.P_LOT_ID,
                    ins.INS_LOT_ID,
                    pr.P_B_ITEM_ID,
                    pi.PI_NAME,
                    it.I_NAME,
                    co.C_ID,
                    co.C_NAME,
                    TO_CHAR(pr.P_START_DATE, 'YYYY-MM-DD') AS P_START_DATE,
                    TO_CHAR(pr.P_END_DATE, 'YYYY-MM-DD') AS P_END_DATE,
                    pr.P_STATUS,
                    pr.P_PLAN_QUANTITY,
                    pr.P_ITEM_QUANTITY,
                    pr.P_DEFECTIVE_QUANTITY,
                    UPPER(ct.CT_UNIT) AS CT_UNIT
                FROM
                    PROCESS pr
                    JOIN PROCESS_INFO pi ON pr.P_PI_ID = pi.PI_ID
                    JOIN INSTRUCTION ins ON pr.P_LOT_ID = ins.INS_LOT_ID
                    JOIN CONTRACT ct ON ins.INS_CT_ID = ct.CT_ID
                    JOIN COMPANY co ON ct.CT_Company_ID = co.C_ID
                    JOIN ITEM it ON pr.P_B_ITEM_ID = it.I_ID
                ORDER BY
                    P_START_DATE desc, pr.P_LOT_ID, pr.P_PI_ID, pr.P_B_ITEM_ID) PICTC
        <trim prefix="where " prefixOverrides="and">
            <if test="find_work_company != null or find_work_item != null or
                     workStartDate != null or workEndDate != null or
                     find_work_instruction != null or find_work_processInfo != null">
                <if test="find_work_company != ''">
                    AND C_ID = #{find_work_company}
                </if>
                <if test="find_work_item != ''">
                    AND P_B_ITEM_ID = #{find_work_item}
                </if>
                <if test="workStartDate != ''">
                    AND P_START_DATE >= #{workStartDate}
                </if>
                <if test="workEndDate != ''">
                    AND #{workEndDate} >=  P_END_DATE
                </if>
                <if test="find_work_instruction != ''">
                    AND INS_LOT_ID = #{find_work_instruction}
                </if>
                <if test="find_work_processInfo != ''">
                    AND P_PI_ID = #{find_work_processInfo}
                </if>
                <if test="find_work_company == '' and find_work_item == '' and
                     workStartDate == '' and workEndDate == '' and
                     find_work_instruction == '' and find_work_processInfo == '' ">
                    AND 1=0
                </if>
            </if>
        </trim>
    </select>


</mapper>