@charset "UTF-8";

/* 상단검색 section(processInspection) */
/* 검색창 */
.defectiveProc-searchBar {
	display: flex;
	align-items: center;
  height: 50px;
  background-color: #fff;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*   검색명   */
.defectiveProc-name {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 46px;
  background-color: #D9D9D9;
}
/*   검색내용   */
.defectiveProc-text {
  display: flex;
	align-items: center;
	justify-content: center;
}
.defectiveProc-text input[type="text"] {
  height: 40px;
}
.defectiveProc-text select {
  height: 40px;
}
/* 검색버튼 */
.defectiveProcSearchBtn {
  float: right;
  width: 80px;
  height: 40px;
}


/* 테이블명 */
.defectiveProc-title {
  padding-left: 1%;
  margin: 0.5% 0;
  font-size: 18px;
  font-weight: 600;
}
/* 테이블 */
.defectiveProc-table,
.newInspTable {
  height: auto;
  overflow-y: auto;
  width: auto;
  overflow-x: auto;
}
/* x축이 긴 경우, width:100%;를 주면 overflow-x: auto; 불가능 */
.defectiveProc-table table {
  table-layout: fixed;
  border: 1px solid rgba(0,0,0,0.3);
  border-top: none;
  border-collapse: separate;
  border-spacing: 0;
}
/* .inspection-table table {
	width: 100%;
} */
/* 테이블 헤더 및 컨텐츠 공통 스타일 */
.defectiveProc-table-header,
.defectiveProc-table-header th,
.defectiveProc-table-content td {
	text-align: center;
  vertical-align: middle;
  padding: 15px;
  font-size: 12px;
  white-space: nowrap;
  border-right: 1px solid #fff;
}
/* 테이블 헤더 특정 스타일 */
.defectiveProc-table-header {
	background-color: #374056;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  position: sticky;
  top: 0; 
}
/* 제목행 이동시, 고정 */
.defectiveProc-table-header th:first-child,
.defectiveProc-table-content td:first-child {
	position: sticky;
	left: 0;
	z-index: 100;	/* 다른 내용보다 위에 위치 */
}
/* 고정된 th 배경색 */
.defectiveProc-table-header th:first-child {
	background-color: #374056;
}
/* 고정된 td 배경색(홀수: #fff) */
.defectiveProc-table-content td:first-child {
	background-color: #fff;
}
/* 고정된 td 배경색(짝수: #eaeaed) */
.defectiveProc-table-content tr:nth-child(even) td:first-child {
  background-color: #eaeaed;
}
/* 상단 헤더의 세로 구분선 추가 */
.defectiveProc-table-header th {
	border-right: 1px solid #fff;
}
/* 상단 헤더의 가로 구분선 추가(제목행 있는 경우) */
.itemIB-table-subHeader th {
	border-bottom: 1px solid #fff;
}
/* 제목행의 아래쪽 테두리 추가 */
.defectiveProc-table-header th[rowspan] {
  border-bottom: 1px solid #fff;
}
/* 테이블 컨텐츠 특정 스타일 */
.defectiveProc-table-content tr:hover,
.defectiveProc-table-content tr:nth-child(even):hover {
	background: #d9d9d9;
}
.defectiveProc-table-content tr:nth-child(even) {
	background: #eaeaed;
}
.defectiveProc-table-content td {
	border-right: 1px solid #BDBDBD;
}