@charset "UTF-8";

/* 상단 검색 section */
/*   검색창   */
.inspection-searchBar {
	display: flex;
	align-items: center;
  height: 50px;
  background-color: #fff;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*   검색명   */
.inspection-name {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 46px;
  background-color: #D9D9D9;
}
/*   검색내용   */
.inspection-text {
  display: flex;
	align-items: center;
	justify-content: center;
}
.inspection-text input[type="text"],
.inspection-text input[type="date"],
.inspection-text input[type="search"] {
  height: 40px;
}
.inspection-text select {
  height: 40px;
}


/* 테이블명 */
.inspection-titleAndTable {
	margin-left: 0;
  padding-right: 0;
}
/* 테이블명 */
.inspection-title {
  margin: 0.5% 0;
  font-size: 18px;
  font-weight: 600;
}
/* 테이블 */
.inspection-table {
	max-height: 70vh;	/* 뷰포트 높이의 70%로 최대 높이 설정 */
  overflow-y: auto;
  width: auto;
  overflow-x: auto;
}


/* ▼문제 있으면 지울것▼ */
.inspOB-table {
	width: 100%;
}
.inspOB-table table {
	width: 100%;
}
/* ▲문제 있으면 지울것▲ */




.inspection-table table {
  table-layout: fixed;
  border: 1px solid rgba(0,0,0,0.3);
  border-top: none;
  border-collapse: separate;
  border-spacing: 0;
}
/* 테이블 글씨 위치 및 크기 */
.inspection-table-header,
.inspection-table-header th,
.inspection-table-content td {
	white-space: nowrap;	/* 셀 내용을 한 줄에 표시 */
	text-align: center;
  vertical-align: middle;
  padding: 15px;
  font-size: 12px;
  border-right: 1px solid #fff;
}
/* 테이블 헤더 특정 스타일 */
.inspection-table-header {
	background-color: #374056;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  /* y축 스크롤 시, 헤더 고정 */
  position: sticky;
  top: 0;
}
/* x축 스크롤 시, th 헤더 고정 */
.inspection-table-header th:first-child {
	background-color: #374056;
	position: sticky;
	left: 0;
	z-index: 100;		/* 다른 내용보다 위에 위치 */
}
/* x축 스크롤 시, td 헤더 고정 */
.inspection-table-content td:first-child {
	position: sticky;
	left:0;
}
/* x축 스크롤 시, td 헤더 - 짝수행 배경 */
.inspection-table-content tr:nth-child(even) td:first-child,
.inspection-table-content tr:nth-child(even) td:first-child:hover {
	background-color: #eaeaed;
	z-index:100;
}
/* x축 스크롤 시, td 헤더 - 홀수행 배경 */
.inspection-table-content tr:nth-child(odd) td:first-child,
.inspection-table-content tr:nth-child(odd) td:first-child:hover {
	background-color: #fff;
	z-index:100;
}
/* 테이블 컨텐츠 특정 스타일 */
.inspection-table-content tr:hover,
.inspection-table-content tr:nth-child(even):hover {
	background: #d9d9d9;
}
.inspection-table-content tr:nth-child(even) {
	background: #eaeaed;
}
.inspection-table-content td {
	border-right: 1px solid #BDBDBD;
}

/* 등록 버튼 스타일 */
.addInspBtn {
	display: flex;
	justify-content: flex-end;	/* 버튼을 오른쪽으로 정렬 */
	margin: 0.5% 0;
	padding-right: 15px; /* 테이블과 버튼의 우측 패딩을 일치시키기 위함 */
}
/* 버튼 크기 */
.addInspBtn .btn {
	width: auto;	/* 버튼의 너비를 자동으로 설정하여 텍스트에 맞게 조정 */
	padding: 0.375rem 0.75rem; /* Bootstrap 기본 버튼 패딩 */
}
/* 버튼-추가 아이콘 */
.add-circle-icon {
	/* width: 20px; */
	width: 13%;
	height: auto;
	margin-bottom: 1%;
}

/* 모달창 */
.inspection-modal-body,
.itemOB-modal-body {
   margin-top: 10px;
}
/*   모달-입력창   */
.inspection-modal-board,
.itemFinishedOB-board {
  display: flex;
   align-items: center;
  height: 50px;
  background-color: #fff;
  border: 1px solid #999;
}
.itemFinishedOB-board:nth-child(2),
.itemFinishedOB-board:nth-child(3){
   margin-top: -1px;
}
/*   모달-입력명   */
.inspection-modal-name,
.itemFinishedOB-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #374056;
  color: #fff;
}
/*   모달-입력내용   */
.inspection-modal-text,
.itemFinishedOB-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 모달-검색바의 input 박스 높이 지정*/
.inspection-modal-text input,
.inspection-modal-text select,
.itemFinishedOB-text input[type="text"],
.itemFinishedOB-text input[type="date"],
.itemFinishedOB-text input[type="number"] {
  height: 40px;
}
/* 모달-emptyModal 입력창 빈곳 배경색 회색 지정 */
.emptyModal{
   border-left: 1px solid #374056;
   background-color: #D9D9D9;
   height: 48px;
}
/* 모달창 구분선 */
.divBorderModal{
  width: 100%;
  border-top: 1px solid #e9ecef;
}
/* 모달-readonly 입력 필드 스타일링 - 테두리 없음 */
.inspection-modal-text input[readonly],
.itemFinishedOB-text input[readonly] {
  background-color: #D9D9D9;
}

/* 모달 - 추가 버튼 */
.add-insp-btn {
	padding: 1% 1% 1% 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;	/* 버튼 내 아이콘과 텍스트 세로 중앙 정렬 */
}
/* 모달 - 추가 버튼 크기 */
.add-insp-btn .btn {
	width: auto;	/* 버튼의 너비를 자동으로 설정하여 텍스트에 맞게 조정 */
	padding: 0.375rem 0.75rem; /* Bootstrap 기본 버튼 패딩 */
	
	display: flex;	/* Flexbox를 사용하여 아이콘과 텍스트 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
	justify-content: center; /* 가로 중앙 정렬 */
	background-color: #007bff; /* 버튼 배경 색상 설정 */
	color: white; /* 버튼 텍스트 색상을 하얀색으로 설정 */
}
/* 모달 - 추가 버튼 - 아이콘(+) */
.add-circle-icon2 {
	fill: white; /* SVG 아이콘 채우기 색상을 하얀색으로 변경 */
	width: 21px;
	height: auto;
	margin-right: 4px; /* 아이콘과 텍스트 사이의 간격 조정 */
}

/* 모달 - 테이블 제목 */
.newInspTitle {
	padding-top: 2%;
	padding-bottom: 1%;
	font-weight: 500;
}
/* 모달 - 테이블 위쪽 구분선 */
.newInspList {
	border-top: 1px solid  #D9D9D9;
}