<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.quality.InspectionIBMapper">
    <!-- [공정불량등록] - 검색 및 현황 조회 ====================================================================================================== -->
    <!-- 검색창 - 제조LOT번호 -->
    <select id="getLotIDList" resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO">
        SELECT
            DISTINCT qi.QI_PRO_LOT_ID
        FROM
            QUALITY_INSPECTION qi
        WHERE
            qi.QI_PRO_LOT_ID IS NOT NULL
        ORDER BY
            qi.QI_PRO_LOT_ID
    </select>
    <!-- 검색창 - 공정번호 -->
    <select id="getProcessIDList" resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO">
        SELECT
            DISTINCT qi.QI_PI_ID
        FROM
            QUALITY_INSPECTION qi
        WHERE
            qi.QI_PI_ID IS NOT NULL
        ORDER BY
            qi.QI_PI_ID
    </select>
    <!-- 검색창 - 공정명 -->
    <select id="getProcessNameList" resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO">
        SELECT
            DISTINCT pi2.PI_NAME
        FROM
            PROCESS_INFO pi2
            JOIN QUALITY_INSPECTION qi ON pi2.PI_ID = qi.QI_PI_ID
    </select>
    <!-- 검색창 - 불량유형1 -->
    <select id="getQsDiv1List" resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO">
        SELECT
            DISTINCT qs.QS_DF_DIV1
        FROM
            QUALITY_STANDARD qs
            JOIN QUALITY_INSPECTION qi ON qi.QI_QS_ID = qs.QS_ID
        WHERE
            qi.QI_PI_ID IS NOT NULL
    </select>
    <!-- 검색창 - 불량유형1 -->
    <select id="getQsDiv2ListByQsDiv1" parameterType="string"
            resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO">
        <!-- [불량유형2]의 option 값은 [불량유형1]의 option 값에 따라 다르다. -->
        SELECT
            DISTINCT qs.QS_DF_DIV2 AS qsDiv2
        FROM
            QUALITY_STANDARD qs
        WHERE
            QS_DF_DIV1 = #{qsDiv1}
    </select>
    <!-- 검색창 - 작업번호 -->
    <select id="getWorkIDList" resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO">
        SELECT
            DISTINCT qi.QI_WORK_ID
        FROM
            QUALITY_INSPECTION qi
        WHERE
            qi.QI_WORK_ID IS NOT NULL
    </select>
    <!-- 검색창 - 설비번호 -->
    <select id="getMachineIDList" resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO">
        SELECT
            DISTINCT mi.MI_ID
        FROM
            MACHINE_INFO mi
            JOIN PROCESS_INFO pi ON mi.MI_ID = pi.PI_MACHINE_ID
            JOIN QUALITY_INSPECTION qi ON qi.QI_PI_ID = pi.PI_ID
        WHERE
            mi.MI_ID IS NOT NULL
        ORDER BY
            mi.MI_ID
    </select>


    <!-- 공정검사현황(공정품 불량) 조회 및 검색 -->
    <select id="getInspProcessList" resultType="com.cnr_furniture.domain.quality.inspectionOB.InspectionOBListVO"
            parameterType="com.cnr_furniture.domain.quality.inspectionProcess.CriteriaInspProcessVO">
        <![CDATA[
        SELECT
            ROWNUM AS listSeq
            , T.WORK_ID as workID
            , T.PRO_LOT_ID as lotID
            , T.MI_ID as machineID
            , T.PI_ID as processID
            , T.PI_NAME as processName
            , T.CT_UNIT as unit
            , T.ITEM_QUANTITY as dailyWorkQuantity
            , T.INSPECTION_QUANTITY as inspectionQuantity
            , T.DFT_QUANTITY as defectQuantity
            , T.DEFECT_RATE as defectRate
            , T.PASSED_QUANTITY as goodQuantity
            , T.DF_DIV1 as qsDiv1
            , T.DF_DIV2 as qsDiv2
            , T.INSPECTION_DATE as inspectionDate
            , T.NOTE as note
        FROM (
            SELECT
                qi.QI_WORK_ID AS WORK_ID
                , qi.QI_PRO_LOT_ID AS PRO_LOT_ID
                , mi.MI_ID AS MI_ID
                , qi.QI_PI_ID AS PI_ID
                , pi2.PI_NAME AS PI_NAME
                , ct.CT_UNIT AS CT_UNIT
                , w.W_ITEM_QUANTITY AS ITEM_QUANTITY
                , qi.QI_INSPECTION_QUANTITY AS INSPECTION_QUANTITY
                , qi.QI_DFT_QUANTITY AS DFT_QUANTITY
                , (qi.QI_DFT_QUANTITY / NULLIF(qi.QI_INSPECTION_QUANTITY, 0) * 100) AS DEFECT_RATE
                , qi.QI_PASSED_QUANTITY AS PASSED_QUANTITY
                , qs.QS_DF_DIV1 AS DF_DIV1
                , qs.QS_DF_DIV2 AS DF_DIV2
                , TO_CHAR(qi.QI_DATE, 'yyyy-mm-dd') AS INSPECTION_DATE
                , qi.QI_NOTE AS NOTE
                , ROW_NUMBER() OVER (PARTITION BY qi.QI_WORK_ID ORDER BY qi.QI_DATE DESC) AS rn
            FROM QUALITY_INSPECTION qi
                JOIN PROCESS_INFO pi2 ON qi.QI_PI_ID = pi2.PI_ID
                JOIN WORK w ON qi.QI_WORK_ID = w.W_ID
                JOIN MACHINE_INFO mi ON pi2.PI_MACHINE_ID = mi.MI_ID
                LEFT JOIN QUALITY_STANDARD qs ON qi.QI_QS_ID = qs.QS_ID
                JOIN INSTRUCTION ins ON w.W_LOT_ID = ins.INS_LOT_ID
                JOIN CONTRACT ct ON ins.INS_CT_ID = ct.CT_ID AND ct.CT_DIV = '수주'
        ) T
        WHERE T.rn = 1
    ]]>
        <if test="lotID != null and lotID != ''">
            and PRO_LOT_ID = #{lotID}
        </if>
        <if test="processID != null and processID != ''">
            and PI_ID = #{processID}
        </if>
        <if test="processName != null and processName != ''">
            and PI_NAME = #{processName}
        </if>
        <if test="qsDiv1 != null and qsDiv1 != ''">
            and DF_DIV1 = #{qsDiv1}
        </if>
        <if test="qsDiv2 != null and qsDiv2 != ''">
            and DF_DIV2 = #{qsDiv2}
        </if>
        <if test="workID != null and workID != ''">
            and WORK_ID = #{workID}
        </if>
        <if test="machineID != null and machineID != ''">
            and MI_ID = #{machineID}
        </if>
        <![CDATA[
        ORDER BY INSPECTION_DATE DESC
    ]]>
    </select>

</mapper>