<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnr_furniture.mapper.quality.InspectionProcessMapper">
    <!-- [공정불량현황] - 검색 및 현황 조회 ====================================================================================================== -->
    <!-- 검색창의 option: ★공정불량등록이 완료된 것들을 조회★ -->
    <!-- 검색창 - 제조LOT번호 -->
    <select id="getLotIDList" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO">
        SELECT
            DISTINCT qi.QI_PRO_LOT_ID as lotID
        FROM
            QUALITY_INSPECTION qi
        WHERE
            qi.QI_PRO_LOT_ID IS NOT NULL
        ORDER BY
            qi.QI_PRO_LOT_ID
    </select>
    <!-- 검색창 - 공정번호 -->
    <select id="getProcessIDList" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO">
        SELECT
            DISTINCT qi.QI_PI_ID as processID
        FROM
            QUALITY_INSPECTION qi
        WHERE
            qi.QI_PI_ID IS NOT NULL
        ORDER BY
            qi.QI_PI_ID
    </select>
    <!-- 검색창 - 공정명 -->
    <select id="getProcessNameList" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO">
        SELECT
            DISTINCT pi2.PI_NAME as processName
        FROM
            PROCESS_INFO pi2
            JOIN QUALITY_INSPECTION qi ON pi2.PI_ID = qi.QI_PI_ID
    </select>
    <!-- 검색창 - 불량유형1 -->
    <select id="getQsDiv1List" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO">
        SELECT
            DISTINCT qs.QS_DF_DIV1 as qsDiv1
        FROM
            QUALITY_STANDARD qs
            JOIN QUALITY_INSPECTION qi ON qi.QI_QS_ID = qs.QS_ID
        WHERE
            qi.QI_PI_ID IS NOT NULL
    </select>
    <!-- 검색창 - [불량유형1]에 따른 [불량유형2] 조회 -->
    <select id="getQsDiv2ListByQsDiv1" parameterType="string"
            resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO">
        <!-- [불량유형2]의 option 값은 [불량유형1]의 option 값에 따라 다르다. -->
        SELECT
            DISTINCT qs.QS_DF_DIV2 AS qsDiv2
        FROM
            QUALITY_STANDARD qs
        WHERE
            QS_DF_DIV1 = #{qsDiv1}
    </select>
    <!-- 검색창 - 작업번호 -->
    <select id="getWorkIDList" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO">
        SELECT
            DISTINCT qi.QI_WORK_ID as workID
        FROM
            QUALITY_INSPECTION qi
        WHERE
            qi.QI_WORK_ID IS NOT NULL
    </select>
    <!-- 검색창 - 설비번호 -->
    <select id="getMachineIDList" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO">
        SELECT
            DISTINCT mi.MI_ID as machineID
        FROM
            MACHINE_INFO mi
            JOIN PROCESS_INFO pi ON mi.MI_ID = pi.PI_MACHINE_ID
            JOIN QUALITY_INSPECTION qi ON qi.QI_PI_ID = pi.PI_ID
        WHERE
            mi.MI_ID IS NOT NULL
        ORDER BY
            mi.MI_ID
    </select>


    <!-- 공정검사현황(공정품 불량) 조회 및 검색 -->
    <select id="getInspProcessList" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessListVO"
            parameterType="com.cnr_furniture.domain.quality.inspectionProcess.CriteriaInspProcessVO">
        <![CDATA[
        SELECT
            ROWNUM AS listSeq
            , T."QI_ID" as qiID
            , T.QI_WORK_ID as workID
            , T.QI_PRO_LOT_ID as lotID
            , T.PI_MACHINE_ID as machineID
            , T.QI_PI_ID as processID
            , T.PI_NAME as processName
            , T.CT_UNIT as unit
            , T.W_ITEM_QUANTITY as dailyWorkQuantity
            , T.QI_INSPECTION_QUANTITY as inspectionQuantity
            , T.QI_DFT_QUANTITY as defectQuantity
            , T.defectRate as defectRate
            , T.QI_PASSED_QUANTITY as goodQuantity
            , T.QS_DF_DIV1 as qsDiv1
            , T.QS_DF_DIV2 as qsDiv2
            , T.inspectionDate as inspectionDate
            , T.QI_NOTE as note
        FROM (
                SELECT DISTINCT
                qi.QI_ID as "QI_ID"
                , qi.QI_WORK_ID
                , qi.QI_PRO_LOT_ID
                , pi2.PI_MACHINE_ID
                , qi.QI_PI_ID
                , pi2.PI_NAME
                , w.W_ITEM_QUANTITY
                , qi.QI_INSPECTION_QUANTITY
                , qi.QI_DFT_QUANTITY
                , (qi.QI_DFT_QUANTITY / NULLIF(qi.QI_INSPECTION_QUANTITY, 0) * 100) AS defectRate
                , qi.QI_PASSED_QUANTITY
                , qs.QS_DF_DIV1
                , qs.QS_DF_DIV2
                , TO_CHAR(qi.QI_DATE, 'YYYY-MM-DD') AS inspectionDate
                , qi.QI_NOTE
                , ct.CT_UNIT
            FROM
                QUALITY_INSPECTION qi
            JOIN PROCESS_INFO pi2 ON pi2.PI_ID = qi.QI_PI_ID
            JOIN WORK w ON w.W_ID = qi.QI_WORK_ID
            JOIN QUALITY_STANDARD qs ON qs.QS_ID = qi.QI_QS_ID
            JOIN INSTRUCTION ins ON ins.INS_LOT_ID = w.W_LOT_ID
            JOIN CONTRACT ct ON ct.CT_ID = ins.INS_CT_ID
            ORDER BY qi.QI_ID DESC
            ) T
    ]]>
        <if test="lotID != null and lotID != ''">
            and PRO_LOT_ID = #{lotID}
        </if>
        <if test="processID != null and processID != ''">
            and PI_ID = #{processID}
        </if>
        <if test="processName != null and processName != ''">
            and PI_NAME = #{processName}
        </if>
        <if test="qsDiv1 != null and qsDiv1 != ''">
            and DF_DIV1 = #{qsDiv1}
        </if>
        <if test="qsDiv2 != null and qsDiv2 != ''">
            and DF_DIV2 = #{qsDiv2}
        </if>
        <if test="workID != null and workID != ''">
            and WORK_ID = #{workID}
        </if>
        <if test="machineID != null and machineID != ''">
            and MI_ID = #{machineID}
        </if>
    </select>

    <!-- [공정불량현황] - [등록] 모달창 ====================================================================================================== -->
    <!-- 등록 모달창 - [불량유형1] option 조회 -->
    <!-- 모든 목록(불량유형1)이 ID 오름차순으로 중복없이 조회 -->
    <select id="getQsDiv1ForInsertModal" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessInsertVO">
        SELECT
            qs.QS_DF_DIV1 AS qsDiv1
        FROM
            QUALITY_STANDARD qs
            INNER JOIN (
                SELECT
                    MIN(QS_ID) AS MinQS_ID,
                    QS_DF_DIV1
                FROM
                    QUALITY_STANDARD
                GROUP BY
                    QS_DF_DIV1
                )
            grouped_qs ON qs.QS_ID = grouped_qs.MinQS_ID
        ORDER BY
            qs.QS_ID ASC
    </select>

    <!-- 등록 모달창 - [불량유형1]에 따른 [불량유형2] 조회 -->
    <select id="getQsDiv2ListByQsDiv1ForInsertModal" parameterType="string"
            resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessInsertVO">
        <!-- [불량유형2]의 option 값은 [불량유형1]의 option 값에 따라 다르다. -->
        SELECT
            DISTINCT qs.QS_DF_DIV2 AS qsDiv2
        FROM
            QUALITY_STANDARD qs
        WHERE
            QS_DF_DIV1 = #{qsDiv1}
    </select>

    <!-- 등록 모달창 - [작업번호] 조회 -->
    <select id="getWorkIDListForModal" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessInsertVO">
        SELECT
            w.W_ID
        FROM
            WORK w
        WHERE
            w.W_DFT_QUANTITY = 0
            AND w.W_STATUS = '작업종료'
        ORDER BY
            w.W_ID
    </select>

    <!-- 등록 모달창 - [작업번호]에 따른 공정정보 조회 및 input 담음 -->
    <select id="getWorkDetailsByWorkID" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessInsertVO">
        SELECT
            w.W_PI_ID AS processID,
            pi.PI_NAME AS processName,
            mi.MI_ID AS machineID,
            w.W_LOT_ID AS lotID,
            w.W_ITEM_QUANTITY AS dailyWorkQuantity,
            ct.CT_UNIT AS unit
        FROM
            WORK w
        JOIN
            PROCESS_INFO pi ON w.W_PI_ID = pi.PI_ID
        LEFT JOIN
            MACHINE_INFO mi ON mi.MI_ID = (
                SELECT MIN(mi2.MI_ID)
                FROM MACHINE_INFO mi2
                JOIN PROCESS_INFO pi2 ON mi2.MI_ID = pi2.PI_MACHINE_ID
                WHERE pi2.PI_ID = w.W_PI_ID
            )
        JOIN
            INSTRUCTION ins ON ins.INS_LOT_ID = w.W_LOT_ID
        JOIN
            CONTRACT ct ON ct.CT_ID = ins.INS_CT_ID
        WHERE
            w.W_ID = #{workID}
        GROUP BY
            w.W_PI_ID,
            pi.PI_NAME,
            mi.MI_ID,
            w.W_LOT_ID,
            w.W_ITEM_QUANTITY,
            ct.CT_UNIT
    </select>

    <!-- 등록 모달창 - [품질검사 테이블] - [공정불량등록] 데이터 INSERT -->
    <insert id="insertQualityInspection" parameterType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessInsertVO">
        INSERT INTO
            QUALITY_INSPECTION
                (
                    QI_PRO_LOT_ID,
                    QI_PI_ID,
                    QI_WORK_ID,
                    QI_QS_ID,
                    QI_INSPECTION_QUANTITY,
                    QI_PASSED_QUANTITY,
                    QI_DFT_QUANTITY,
                    QI_DATE,
                    QI_NOTE
                )
        VALUES
            (
                #{lotID},
                #{processID},
                #{workID},
                <![CDATA[
                (
                    SELECT qs.QS_ID
                    FROM QUALITY_STANDARD qs
                    WHERE qs.QS_DF_DIV1 = #{qsDiv1}
                ]]>
                <if test="qsDiv2Modal != ''">
                    <![CDATA[ AND qs.QS_DF_DIV2 = #{qsDiv2} ]]>
                </if>
                <![CDATA[
                )
                ]]>,
                #{inspectionQuantity},
                #{goodQuantity},
                #{defectQuantity},
                #{inspectionDate}
                <if test="note != ''">
                    , #{note}
                </if>
            )
    </insert>
    <!-- 등록 모달창 - [작업 테이블] - [공정불량등록] 데이터 UPDATE -->
    <update id="updateWork" parameterType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessInsertVO">
        UPDATE
            "WORK"
        SET
            W_DFT_QUANTITY
            = (
            #{inspectionQuantity} - #{goodQuantity}
            )
        WHERE
            W_ID = #{workID}
            AND W_DFT_QUANTITY IS NULL
    </update>

    <!-- [공정불량수정] - 모달창 ====================================================================================================== -->
    <!-- 수정 모달창 - [불량유형1] 조회 -->
    <select id="getQsDiv1ListForUpdateModal" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessUpdateVO">
        SELECT
            qs.QS_DF_DIV1 AS qsDiv1
        FROM
            QUALITY_STANDARD qs
            INNER JOIN (
                SELECT
                    MIN(QS_ID) AS MinQS_ID,
                    QS_DF_DIV1
                FROM
                    QUALITY_STANDARD
                GROUP BY
                    QS_DF_DIV1
            )
            grouped_qs ON qs.QS_ID = grouped_qs.MinQS_ID
        ORDER BY
            qs.QS_ID ASC
    </select>

    <!-- 수정 모달창 - [불량유형1]에 따른 [불량유형2] 조회 -->
    <select id="getQsDiv2ListByQsDiv1ForUpdateModal" parameterType="string"
            resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessUpdateVO">
        SELECT
            DISTINCT qs.QS_DF_DIV2 AS qsDiv2
        FROM
            QUALITY_STANDARD qs
        WHERE
            QS_DF_DIV1 = #{qsDiv1}
    </select>

    <!-- 수정 모달창 - 모달창 내용 조회 -->
    <select id="getInspProcessDetailsBySeq" resultType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessUpdateVO"
            parameterType="long">
        SELECT DISTINCT
            qi.QI_WORK_ID as workID
            , qi.QI_PI_ID as processID
            , PI2.PI_NAME as processName
            , qi.QI_PRO_LOT_ID as lotID
            , pi2.PI_MACHINE_ID as machineID
            , ct.CT_UNIT as unit
            , w.W_ITEM_QUANTITY as dailyWorkQuantity
            , qi.QI_INSPECTION_QUANTITY as inspectionQuantity
            , qi.QI_DFT_QUANTITY as defectQuantity
            , qs.QS_DF_DIV1 as qsDiv1
            , qs.QS_DF_DIV2 as qsDiv2
            , qi.QI_NOTE as note
        FROM
            QUALITY_INSPECTION qi
            JOIN PROCESS_INFO pi2 ON pi2.PI_ID = qi.QI_PI_ID
            JOIN "WORK" w ON w.W_ID = qi.QI_WORK_ID
            JOIN QUALITY_STANDARD qs ON qs.QS_ID = qi.QI_QS_ID
            JOIN INSTRUCTION i ON i.INS_LOT_ID = w.W_LOT_ID
            JOIN CONTRACT ct ON ct.CT_ID = i.INS_CT_ID
        WHERE
            qi.QI_ID = #{qiID}
    </select>

    <!-- 수정 모달창 - 정보 업데이트 -->
    <update id="updateInspProcess" parameterType="com.cnr_furniture.domain.quality.inspectionProcess.InspProcessUpdateVO">
        UPDATE
            QUALITY_INSPECTION
        SET
        QI_QS_ID = (
                    SELECT qs.QS_ID
                    FROM QUALITY_STANDARD qs
                    WHERE qs.QS_DF_DIV1 = #{qsDiv1}
                    <if test="qsDiv2 != null and qsDiv2 != ''">
                        AND qs.QS_DF_DIV2 = #{qsDiv2}
                    </if>
                    )
        <if test="note != null and note != ''">
            , QI_NOTE = #{note}
        </if>
        WHERE
            QI_ID = #{qiID}
    </update>

</mapper>