@charset "UTF-8";
/*   검색창   */
.itemIB-search-row.first-search-row .itemIB-searchBar,
.itemSemiOB-search-row.first-search-row .itemSemiOB-searchBar {
	margin-bottom: 0%;
}
.itemIB-search-row.second-search-row .itemIB-searchBar,
.itemSemiOB-search-row.second-search-row .itemSemiOB-searchBar {
	margin-top: -0.5%;
}
.itemIB-searchBar,
.itemSemiOB-searchBar,
.itemFinishedOB-searchBar,
.itemInventory-searchBar,
.itemContractInfo-searchBar {
  display: flex;
	align-items: center;
  height: 10%;
  background-color: #fff;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-bottom: 2%;
}
/* 첫 번째 검색 행에 대한 스타일 */
.itemIB-search-row.first-search-row .itemIB-searchBar,
.itemSemiOB-search-row.first-search-row .itemSemiOB-searchBar {
	display: flex;
	justify-content: space-between;
}
/* 두 번째 검색 행에 대한 스타일 */
.itemIB-search-row.second-search-row .itemIB-searchBar,
.itemSemiOB-search-row.second-search-row .itemSemiOB-searchBar {
	display: flex;
	justify-content: space-between;
}
/*   검색명   */
.itemIB-search-title,
.itemSemiOB-search-title,
.itemFinishedOB-search-title,
.itemInventory-search-title,
.itemContractInfo-search-title {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 43px;
  background-color: #D9D9D9;
  flex: 1;	/* flex 항목들이 동일한 비율로 공간을 차지하도록 설정 */
}
.itemIB-search-title.first-search-col,
.itemSemiOB-search-title.first-search-col,
.itemFinishedOB-search-title.first-search-col,
.itemInventory-search-title.first-search-col,
.itemContractInfo-search-title.first-search-col {
	max-width: 110px;
	margin-left: -0.8%;
}
/*   검색내용   */
.itemIB-search-content,
.itemSemiOB-search-content,
.itemFinishedOB-search-content,
.itemInventory-search-content,
.itemContractInfo-search-content {
  display: flex;
	align-items: center;
	justify-content: center;
}
.itemIB-search-content input[type="text"],
.itemSemiOB-search-content input[type="text"],
.itemFinishedOB-search-content input[type="text"],
.itemInventory-search-content input[type="text"],
.itemContractInfo-search-content input[type="text"] {
  height: 3%;
}


/* 테이블 및 타이틀 스타일링 */
.itemIB-titleAndTable,
.itemSemiOB-titleAndTable,
.itemFinishedOB-titleAndTable,
.itemInventory-titleAndTable,
.itemContractInfo-titleAndTable {
  margin-left: 0;
  padding-right: 0;
}
.itemIB-title,
.itemSemiOB-title,
.itemFinishedOB-title,
.itemInventory-title,
.itemContractInfo-title {
  padding-left: 1%;
  margin: 0.5% 0;
  font-size: 18px;
  font-weight: 600;
}

.itemIB-table,
.itemSemiOB-table,
.itemFinishedOB-table,
.itemInventory-table,
.itemContractInfo-table {
  height: auto;
  overflow-y: auto;
  width: auto;
  overflow-x: auto;
}
/* x축이 긴 경우, width:100%;를 주면 overflow-x: auto; 불가능 */
.itemIB-table table,
.itemSemiOB-table table,
.itemFinishedOB-table table,
.itemInventory-table table,
.itemContractInfo-table table {
  table-layout: fixed;
  border: 1px solid rgba(0,0,0,0.3);
  border-top: none;
  border-collapse: separate;
  border-spacing: 0;
}
.itemInventory-table table,
.itemContractInfo-table table {
	width: 100%;
}

/* 테이블 헤더 및 컨텐츠 공통 스타일 */
.itemIB-table-header,
.semiItemIB-header,
.finishedItemIB-header,
.itemSemiOB-table-header,
.itemFinishedOB-table-header,
.itemInventory-table-header,
.itemContractInfo-table-header,
.itemIB-table-header th,
.itemSemiOB-table-header th,
.itemFinishedOB-table-header th,
.itemInventory-table-header th,
.itemContractInfo-table-header th,
.itemIB-table-content td,
.itemSemiOB-table-content td,
.itemFinishedOB-table-content td,
.itemInventory-table-content td {
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  font-size: 12px;
  white-space: nowrap;
  border-right: 1px solid #fff;
}

/* 테이블 헤더 특정 스타일 */
.itemIB-table-header,
.semiItemIB-header,
.finishedItemIB-header,
.itemSemiOB-table-header,
.itemFinishedOB-table-header,
.itemInventory-table-header,
.itemContractInfo-table-header {
  background-color: #374056;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  position: sticky;
  top: 0;  
}
/* 제목행 이동시, 고정 */
.itemFinishedOB-table-header th:first-child,
.itemIB-table-header th:first-child,
.itemInventory-table-header th:first-child,
.itemContractInfo-table-header th:first-child,
.itemFinishedOB-table-content th[rowspan],
.itemIB-table-content th[rowspan],
.itemInventory-table-content th[rowspan] {
	background-color: #374056;
	position: sticky;
	left: 0;
	z-index: 100;	/* 다른 내용보다 위에 위치 */
}
.itemIB-table-subHeader th,
.itemSemiOB-table-subHeader th,
.itemFinishedOB-table-subHeader th {
  border-top: 1px solid #fff;
}
.itemIB-table-header th:last-child,
.itemInventory-table-header th:last-child,
.itemIB-table-content td:last-child,
.itemInventory-table-content td:last-child {
  border-right: none;
}
/* 상단 헤더의 세로 구분선 추가 */
.itemIB-table-header tr:first-child th,
.itemSemiOB-table-header tr:first-child th,
.itemFinishedOB-table-header th,
.itemInventory-table-header th,
.itemIB-table-subHeader th,
.itemSemiOB-table-subHeader th,
.itemFinishedOB-table-subHeader th,
.itemInventory-table-subHeader th {
  border-right: 1px solid #fff;
}

/* 상단 헤더의 가로 구분선 추가 */
.itemIB-table-subHeader th,
.itemSemiOB-table-subHeader th,
.itemFinishedOB-table-subHeader th {
  border-bottom: 1px solid #fff;
}

/* 마지막 행(th)의 오른쪽 테두리 제거 */
.itemIB-table-subHeader th:nth-last-child(1) {
  border-right: none;
}
/* '제품용도' 열의 아래쪽 테두리 추가 */
.itemIB-table-header th[rowspan],
.semiItemIB-header {
  border-bottom: 1px solid #fff;
}
/* 테이블 컨텐츠 특정 스타일 */
.itemIB-table-content tr:hover,
.itemSemiOB-table-content tr:hover,
.itemFinishedOB-table-content tr:hover,
.itemIB-table-content tr:nth-child(even):hover,
.itemSemiOB-table-content tr:nth-child(even):hover,
.itemFinishedOB-table-content tr:nth-child(even):hover {
  background: #d9d9d9;
}
.itemIB-table-content tr:nth-child(even),
.itemSemiOB-table-content tr:nth-child(even),
.itemFinishedOB-table-content tr:nth-child(even),
.itemInventory-table-content tr:nth-child(even) {
  background: #eaeaed;
}
.itemIB-table-content td,
.itemSemiOB-table-content td,
.itemFinishedOB-table-content td,
.itemInventory-table-content td {
  border-right: 1px solid #BDBDBD;
}
.itemContractInfo-table-content td {
	padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-right: 1px solid #BDBDBD;
}

/* 완제품출고등록 버튼 스타일 */
.addFinishedItemOB-btn {
	display: flex;
	justify-content: flex-end;	/* 버튼을 오른쪽으로 정렬 */
	margin: 0.5% 0;
	padding-right: 15px; /* 테이블과 버튼의 우측 패딩을 일치시키기 위함 */
}
.addFinishedItemOB-btn .btn {
	width: auto;	/* 버튼의 너비를 자동으로 설정하여 텍스트에 맞게 조정 */
	padding: 0.375rem 0.75rem; /* Bootstrap 기본 버튼 패딩 */
}
.add-circle-icon {
	/* width: 20px; */
	width: 13%;
	height: auto;
	margin-bottom: 1%;
}


/* 모달창 */
.itemOB-modal-body{
   margin-top: 10px;
}
/*   모달-입력창   */
.itemFinishedOB-board {
  display: flex;
   align-items: center;
  height: 50px;
  background-color: #fff;
  border: 1px solid #999;
}
.itemFinishedOB-board:nth-child(2),
.itemFinishedOB-board:nth-child(3){
   margin-top: -1px;
}
/*   모달-입력명   */
.itemFinishedOB-name {
  display: flex;
   align-items: center;
   justify-content: center;
  height: 48px;
  background-color: #374056;
  color: #fff;
}
/*   모달-입력내용   */
.itemFinishedOB-text {
  display: flex;
   align-items: center;
   justify-content: center;
}
/* 모달-검색바의 input 박스 높이 지정*/
.itemFinishedOB-text input[type="text"],
.itemFinishedOB-text input[type="date"],
.itemFinishedOB-text input[type="number"] {
  height: 40px;
}
/* 모달-emptyModal 입력창 빈곳 배경색 회색 지정 */
.emptyModal{
   border-left: 1px solid #374056;
   background-color: #D9D9D9;
   height: 48px;
}
/* 모달창 구분선 */
.divBorderModal{
  width: 100%;
  border-top: 1px solid #e9ecef;
}
/* 모달-readonly 입력 필드 스타일링 - 테두리 없음 */
.itemFinishedOB-text input[readonly] {
  background-color: #D9D9D9;
}