@charset "UTF-8";

/* 조회버튼 */
.search-btn{
	float: right;
}
/*   검색창   */
.searchBer {
  display: flex;
	align-items: center;
  height: 10%;
  background-color: #fff;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-bottom: 2%;
}
/*   검색명   */
.sb-name {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 43px;
  background-color: #D9D9D9;
}
/*   검색내용   */
.sb-text {
  display: flex;
	align-items: center;
	justify-content: center;
}
.sb-text input[type="text"] {
  height: 3%;
}