/*   검색창   */
.prosearchBer {
  display: flex;
	align-items: center;
  height: 50px;
  background-color: #fff;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-bottom: 10px;


 
}
/*   검색명   */
.prosb-name {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 46px;
  background-color: #D9D9D9;
  margin-right: 20%;
  right: 8px;

  
}

/*   검색내용   */
.prosb-text {
  display: flex;
	align-items: center;
	justify-content: flex-start;
	width:30%;
	right:19%;

}

.prosearchBer .textPro {
  margin: 5px;
 
}

.InnputBody .textPro1 {
    margin: 8px;

}


.prosb-text input[type="text"] {
  height: 40px;
}

.prosearch {
  float: right;
  width: 80px;
  height: 40px;
}
.pro-btn {
  float: right;
}

/*   표 이름   */
.ProTableName {
  display: flex;
	align-items: center;
  width: 100%;
  height: 40px;
  background-color: #F1F1F1;
  border-top: 2px solid #999;
	font-family: Inter;
	font-weight: 400;
  font-size: 16px;
}
/*   아이콘 div   */
.icon {
  display: flex;
	justify-content: center;
	align-items: center;
  width: 30px;
  margin-left: 5px;
}
/*   테이블 이름   */
.process {
  display: flex;
	align-items: center;
}



/*  테이블 길이 조절   */


.table table{
  width:100%;
  table-layout: fixed;
  border: 1px solid rgba(0,0,0,0.3);
  border-top:none;
  border-collapse: separate;
	border-spacing: 0;
}
.tbl-headerPro{
  background-color: #374056;
  position : sticky;
  top : 0;
 }
.tbl-headerPro tr th{
  padding: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}
.tbl-headerPro tr th:last-child{
  border-right: none;
}
.ProTable{
  height:500px;
  margin-top: 0px;
}
.ProTable tr:hover,
.ProTable tr:nth-child(even):hover{
  background: #d9d9d9;
}
.ProTable tr:nth-child(even) {
  background: #eaeaed;
}
.ProTable td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-right: 1px solid #BDBDBD;
}
.ProTable tr td:last-child{
  border-right: none;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}





.proheaderBar {
    border-top: 1px black solid;
    margin: 0px 8px 0px 8px;
    display: flex;

    
}

.process1Search {
    display: flex;

}

.process1Search .processBox{
    width: 120px;
    margin: 10px 15px 10px 15px;


}

.proName, .proType, .proPosition{
    display: flex;

}

.searchProbar {
    padding: 15px;
    background-color: #D8D8D8;
}

.proType .textPro5{
    margin-top: 15px;
}

.pro-btn{
    margin-left: auto;
    display: flex;

}

#prosearchbtn, #proaddBtn{
    margin: 3px;

}


/*instructionPlan*/
/*제조 수행지시등록 모달*/
.process-highlight, .process-th, .process-td {
    border: 1px solid black; 
    padding: 10px; 
    background-color: #374056; 
    color: #ffffff; 
    text-align: center;
    width: 6px;
}

.process-select, .process-input-date, .process-input-text, .process-textarea {
    width: 98%; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    padding: 5px; 
    margin: 2px 0; 
}

.process-textarea {
    resize: none; 
    height: 100px; 
}

.process-highlight2 {
    border: 1px solid black; 
    padding: 10px; 
    color: #ffffff; 
    text-align: center;
    width:20%;
}

.register-Process-Modal-Dialog {
	min-width: 70%;
}




/*공정등록 모달*/

.processModal {
	width: 96%; 
	padding-left:3%;
  margin-bottom: 5%; 
  margin-top: 2%;
}

.processModalBody {
  padding: 10px; 
}

.processtablegubun {
  width: 100%; 
  border-collapse: collapse; 
}

.processtablegubun .proTh {
  color: #ffffff; 
  text-align: center;
  border: 1px solid #ddd; 
  padding: 8px; 
  background-color: #374056;
  width: 10%;
}

.processtablegubun .proTd {
  border: 1px solid #ddd; 
  padding: 4px; 
  width: 10%;
}

 .processInput {
  width: 100%; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}


.InnputBody{
	 padding-left:4%;
	 width: 50%;
	 display: flex;
	 margin: 1%
}

.sInput{
	height: 85%;
  text-align: center;
}

/*공정정보등록 조회*/

.inputmedle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 추가: 요소들을 시작점 기준으로 정렬 */
}

.processSearchInput {
  padding: 3px;
  width: 100%;
  height: 35px;
  margin-top: 1px;
}

.inputmedle1{
	margin-left:1%;
	width: 100%;

}

.contentPros {
	width: 100%;
}


.maginPro{
	margin-left: 4%;
}


/*제조 지시 등록 모달*/
.pporContainer {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.pporBox {
    flex: 1; 
    margin: 0 10px; 
}


.form-control1 {
    width: 100%; 
    margin-bottom: 10px; 
}





/*아이콘*/
.procexxIcon {
	margin-left: 63%;
}


.procexxIcon1 {
	margin-left: 48%;
}



/*날짜 바꾸기*/




