/*   검색창   */
.searchBar {
  display: flex;
	align-items: center;
  height: 50px;
  background-color: #fff;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-bottom: 10px;
}
/*   검색명   */
.sb-name {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 46px;
  background-color: #D9D9D9;
}
/*   검색내용   */
.sb-text {
  display: flex;
	align-items: center;
	justify-content: center;
}
/* 검색바의 input 박스 높이 지정*/
.sb-text input[type="text"],
.sb-text input[type="date"],
#workCompanyName, 
#workItemName {
  height: 40px;
}

.search {
  float: right;
  width: 80px;
  height: 40px;
}

/*   표 이름   */
.workTableTitle {
  display: flex;
	align-items: center;
  width: 100%;
  height: 40px;
  background-color: #F1F1F1;
  border-top: 2px solid #999;
	font-family: Inter;
	font-weight: 600;
  font-size: 16px;
}
/*   아이콘 div   */
.icon {
  display: flex;
	justify-content: center;
	align-items: center;
  width: 30px;
  margin-left: 5px;
}
/*   테이블 이름   */
.workTableName {
  display: flex;
	align-items: center;
}
