/* 큰제목과 클립보드 사이 여백 */
.fa-clipboard{
	margin-right: 10px;
}

/*   검색창   */
.searchBar {
	margin-top: 20px;
  display: flex;
	align-items: center;
  height: 50px;
  background-color: #fff;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-bottom: 10px;
}
/*   검색명   */
.sb-name {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 46px;
  background-color: #D9D9D9;
}
/*   검색내용   */
.sb-text {
  display: flex;
	align-items: center;
	justify-content: center;
}
/* 검색바의 input 박스 높이 지정*/
.sb-text input[type="text"],
.sb-text input[type="date"],
#workCompanyName, 
#workItemName,
.workInput{
  height: 40px;
}

.search {
  float: right;
  width: 80px;
  height: 40px;
}

/* 당일작업등록 버튼 설정 */
.todayWorkInsertBtn {
   display: flex;
   justify-content: flex-end;   /* 버튼을 오른쪽으로 정렬 */
   margin: 0.5% 0;
   padding-right: 15px; /* 테이블과 버튼의 우측 패딩을 일치시키기 위함 */
}

/* 당일작업등록 안 btn 설정 */
.todayWorkInsertBtn .btn {
   width: auto;   /* 버튼의 너비를 자동으로 설정하여 텍스트에 맞게 조정 */
   padding: 0.375rem 0.75rem; /* Bootstrap 기본 버튼 패딩 */
}
/* 테이블 안 버튼 스타일 지정 */
#materialInputTd,
#workDetailTd,
#todayWorkDeleteTd,
#workerInsertTd,
#workMaterialInputDeleteTd{
	font-weight: 600; 
	padding: 5px 10px;
	background: transparent;
	border: transparent;
}

/* 자재투입(추가) 버튼 스타일*/
#workerInsertTd{
	color: #6c757d;
}

/* 작업상세(상세) 버튼 스타일*/
#workDetailTd{
	color: #007bff;
}

/* divBorder 이용해 선 긋기 */
.divBorder{
	display: flex;
  width: 100%;
  background-color: #f4f6f9;
  border-top: 2px solid #999;
	font-family: Inter;
	font-weight: 600;
  font-size: 18px;
  margin: 20px 7.5px 30px 7.5px;
}

/* workSelectBtn 아래 여백 */
.workSelectBtn{
	margin: 0px 0px 10px 7.5px;
	
}

/* workSelect 버튼  스타일 */
.workSelect{
	width:150px;
	height: 40px;
	border-radius: 0px;
	font-weight: 600;
  font-size: 18px;
  border-color: #374056;
  color: #374056;
}

/* workSelect 버튼 클릭시 색변경*/
.workSelect:hover,
.workSelect:active{
  background: #374056;
  color: white;
}
/* 생산실적 버튼 처음부터 색상 지정 */
#selectProductionBtn{
	background: #374056;
  color: white;
}
/* select 버튼 간의 여백 설정 */
#selectMaterialInputBtn,
#selectWorkerBtn{
	margin-left: -6px;
}

/* 작업관리의 제조수행정보, 작업목록 */
#selectManufacturingPerformInfo,
#selectWorkTable{
	overflow-x: auto;
}

/* 작업관리의 생산실적, 자재투입내역, 작업자 테이블 밑 푸터와의 여백 */
#selectProduction,
#selectMaterialInput,
#selectWorker{
	margin-bottom: 40px;
	overflow-x: auto;
}

/*  대부분의 작업 테이블 이름   */
.workTableTitle {
  display: flex;
	align-items: center;
  width: 100%;
  height: 40px;
  background-color: #F1F1F1;
  border-top: 2px solid #999;
	font-family: Inter;
	font-weight: 600;
  font-size: 18px;
}
/*  작업자 표 이름   */
.workerTableTitle {
  display: flex;
	align-items: center;
  width: auto;
  height: 40px;
  background-color: #F1F1F1;
  border-top: 2px solid #999;
	font-family: Inter;
	font-weight: 600;
  font-size: 18px;
}
/*   아이콘 div   */
.icon {
  display: flex;
	justify-content: center;
	align-items: center;
  width: 30px;
  margin-left: 5px;
}
/*   테이블 이름   */
.workTableName,
.workerTableName {
  display: flex;
	align-items: center;
}

/* square plus 상자 */
#plus-square,
#minus-spuare {
	width: 30px; 
	height: 30px;
	display: flex;
	align-items: center;
	margin-left: auto;
	
}

/* todayWorkInsert.jsp의 자재투입등록 모달창의 정보 첫번째줄,두번째줄*/
.materialInputInfoBar {
  display: flex;
	align-items: center;
  height: 50px;
  background-color: #fff;
  border: 1px solid #999;
  margin-bottom: 20px;
}
/* todayWorkInsert.jsp의 자재투입등록 모달창의 정보 두번째줄*/
.materialInputInfoBar:nth-child(2) {
  margin-top: -21px;
}

/* todayWorkInsert.jsp의 자재투입등록 모달창의 정보의 input 스타일 */
.materialInputInfoBar .sb-text input[type="text"]{
	outline: none;
	border: none;
}

/*   검색명   */
.materialInputInfoBar .sb-name {
  height: 48px;
}

/* todayWorkInsert.jsp의 자재투입등록 모달창의 div class */
.materialInputModalTable{
	max-height: 174px;
	margin-bottom: 20px;
}

/* todayWorkInsert.jsp의 자재투입등록 모달창의 div 안 테이블 */
.materialInputModalTable table{
	width:100%
}

/*  todayWorkInsert.jsp의 자재투입등록 모달창의 테이블의 자재투입 버튼 class */
.workMaterialInputBtn{
	margin-left: auto;
  width: auto;
}

/* todayWorkInsert.jsp의 자재투입등록 모달창의 테이블 input 스타일 */
.materialInputModalTable input[type="text"]{
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	height: 100%;
}
/* todayWorkInsert.jsp의 자재투입등록 모달창의 테이블 중 input을 가진 td의 스타일 */
.materialInputModalTable #materialInputModalInputTd{
	background-color: rgb(23,162,183,0.1);
}

/* 테이블 제목 및 테이블 양쪽 여백*/
.titleAndTable{
	margin: 0 7.5px 10px 7.5px;
}

/* 테이블 스타일 높이 지정 및 높이 초과에 따른 스크롤 생성*/
.workTable{
	height:auto;
	max-height: 259px;
	width: auto;
	overflow-y: auto;
	
}
/* 테이블 스타일 높이 지정 및 높이 초과에 따른 스크롤 생성*/
.workerTable{
	height:auto;
	max-height: 600px;
	width: auto;
	overflow-y: auto;
}

/* 작업자등록 모달창 속 width 100% 초과에 따른 스크롤 생성*/
.workerSelectTable{
		height:auto;
		max-height: 300px;
    display: inline-block; /* 요소를 인라인 블록 요소로 설정합니다. */
}

/* table div 안 table 설정 */
.workTable table,
.workerTable table,
.workerSelectTable table{
  table-layout: fixed;
  border: 1px solid rgba(0,0,0,0.3);
  border-top:none;
  border-collapse: separate;
	border-spacing: 0;
}
/* thead 스타일 및 스크롤 이동 시 헤더 고정 */
.work-tbl-header,
.worker-tbl-header{
  background-color: #374056;
  position : sticky;
  top : 0;  
  white-space: nowrap;
 }
 
 /* thead의 th 스타일 지정*/
.work-tbl-header tr th{
  padding: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border-right: 1px solid #fff;
  white-space: nowrap;
}
 /* thead의 th 스타일 지정*/
.worker-tbl-header tr th{
  padding: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}

/* thead의 마지막 th의 오른쪽 선 없애기*/
.work-tbl-header tr th:last-child,
.worker-tbl-header tr th:last-child{
  border-right: none;
}

/* tbody와 thead의 여백 삭제 */
.work-tbl-content,
.worker-tbl-content{
  margin-top: 0px;
}

/* tr 호버 시 색상 변경 */
.work-tbl-content tr:hover,
.work-tbl-content tr:nth-child(even):hover,
.worker-tbl-content tr:hover,
.worker-tbl-content tr:nth-child(even):hover{
  background: #d9d9d9;
}

/* 짝수 tr 색상 흰색 */
.work-tbl-content tr:nth-child(even),
.worker-tbl-content tr:nth-child(even){
  background: #eaeaed;
}

/* 테이블 내용 스타일 지정 */
.work-tbl-content td,
.worker-tbl-content td{
  padding: 3px 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #000;
  height:42px;
  border-right: 1px solid #BDBDBD;
  white-space: nowrap;
}

/* 테이블 마지막 td 맨밑 border 선 삭제 */
.work-tbl-content tr td:last-child,
.worker-tbl-content tr td:last-child{
  border-right: none;
}

/*   모달창   */

.work-modal-body{
	margin-top: 10px;
}


/*   입력창   */
.work-modal-input {
  display: flex;
	align-items: center;
  height: 50px;
  background-color: #fff;
  border: 1px solid #999;
}
.work-modal-input:nth-child(2),
.work-modal-input:nth-child(3){
	margin-top: -1px;
}

/*   입력명   */
.workModal-name {
  display: flex;
	align-items: center;
	justify-content: center;
  height: 48px;
  background-color: #374056;
  color: #fff;
}
/*   입력내용   */
.workModal-text {
  display: flex;
	align-items: center;
	justify-content: center;
}
/* 검색바의 input 박스 높이 지정*/
.workModal-text input[type="text"],
.workModal-text input[type="date"]{
  height: 40px;
}

/* emptyModal 입력창 빈곳 배경색 회색 지정 */
.emptyModal{
	border-left: 1px solid #374056;
	background-color: #D9D9D9;
	height: 48px;
}

/* 모달창 구분선 */
.divBorderModal{
  width: 100%;
  border-top: 1px solid #e9ecef;
}



/* work 모달 : 자재투입 */

/* work 모달 입력창 이름 */
.work-modal-name{
	display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #374056;
  color: #fff;
}

/* work 모달 - 입력창 */
.work-modal-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* work 모달 - 입력창 한행 스타일 */
.work-modal-board {
	display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border: 1px solid #999;
}
  
 /* work 모달 - 검색바의 input 박스 높이 지정*/
.work-modal-text input,
.work-modal-text select{
  height: 40px;
}

/* 모달-readonly 입력 필드 스타일링 - 테두리 없음 */
.work-modal-text input[readonly] {
  background-color: #D9D9D9;
}

/* work 모달 - 추가 버튼 */
.add-insert-mat-btn {
	padding: 1% 1% 1% 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;	/* 버튼 내 아이콘과 텍스트 세로 중앙 정렬 */
}
/* work 모달 - 추가 버튼 크기 */
.add-insert-mat-btn .btn {
	width: auto;	/* 버튼의 너비를 자동으로 설정하여 텍스트에 맞게 조정 */
	padding: 0.375rem 0.75rem; /* Bootstrap 기본 버튼 패딩 */
	
	display: flex;	/* Flexbox를 사용하여 아이콘과 텍스트 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
	justify-content: center; /* 가로 중앙 정렬 */
	background-color: #007bff; /* 버튼 배경 색상 설정 */
	color: white; /* 버튼 텍스트 색상을 하얀색으로 설정 */
}

/* work 모달 - 테이블 제목 */
.newWorkMaterialTitle {
	padding-top: 2%;
	padding-bottom: 1%;
	font-weight: 500;
}
/* work 모달 - 테이블 위쪽 구분선 */
.newWorkMaterialList {
	border-top: 1px solid  #D9D9D9;
}
/* work 모달 - 자재투입목록 테이블 */
.work-modal-table {
	max-height: 70vh;	/* 뷰포트 높이의 70%로 최대 높이 설정 */
  overflow-y: auto;
  width: auto;
  overflow-x: auto;
}
/* work 모달 - 자재투입목록 테이블 스타일 */
.work-modal-table table {
  table-layout: fixed;
  border: 1px solid rgba(0,0,0,0.3);
  border-top: none;
  border-collapse: separate;
  border-spacing: 0;
}

/* work 모달 - 자재투입목록 테이블 글씨 위치 및 크기 */
.work-modal-table-header,
.work-modal-table-header th,
.work-modal-table-content td {
	white-space: nowrap;	/* 셀 내용을 한 줄에 표시 */
	text-align: center;
  vertical-align: middle;
  padding: 15px;
  font-size: 14px;
  border-right: 1px solid #fff;
}
/* work 모달 - 자재투입목록 테이블 헤더 특정 스타일 */
.work-modal-table-header {
	background-color: #374056;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  /* y축 스크롤 시, 헤더 고정 */
  position: sticky;
  top: 0;
}
/* work 모달 - 자재투입목록 x축 스크롤 시, th 헤더 고정 */
.work-modal-table-header th:first-child {
	background-color: #374056;
	position: sticky;
	left: 0;
	z-index: 100;		/* 다른 내용보다 위에 위치 */
}
/* work 모달 - 자재투입목록 x축 스크롤 시, td 헤더 고정 */
.work-modal-table-content td:first-child {
	position: sticky;
	left:0;
}
/* work 모달 - 자재투입목록 x축 스크롤 시, td 헤더 - 짝수행 배경 */
.work-modal-table-content tr:nth-child(even) td:first-child,
.work-modal-table-content tr:nth-child(even) td:first-child:hover {
	background-color: #eaeaed;
	z-index:100;
}
/* work 모달 - 자재투입목록 x축 스크롤 시, td 헤더 - 홀수행 배경 */
.work-modal-table-content tr:nth-child(odd) td:first-child,
.work-modal-table-content tr:nth-child(odd) td:first-child:hover {
	background-color: #fff;
	z-index:100;
}

/* 테이블 컨텐츠 특정 스타일 */
.work-modal-table-content tr:hover,
.work-modal-table-content tr:nth-child(even):hover {
	background: #d9d9d9;
}
.work-modal-table-content tr:nth-child(even) {
	background: #eaeaed;
}
.work-modal-table-content td {
	border-right: 1px solid #BDBDBD;
}
